// BREADCRUMBS
.layout__breadcrumbs
  padding: 5.5rem 0 1.5rem
  @include background
  .breadcrumbs__list
    gap: 1.5rem
    display: flex
    align-items: center
    overflow: hidden
    overflow-x: auto
  .breadcrumbs__item
    flex-shrink: 0
    &:not(:last-child)
      position: relative
      &::after
        content: "/"
        position: absolute
        top: 50%
        opacity: .7
        left: calc(100% + .75rem)
        @include transform
    &:last-child
      pointer-events: none
  .breadcrumbs__link
    color: $colorPrimary500
    @include transition
    &:hover
      color: $colorSecondary500
  .breadcrumbs__ico
    width: 1rem
    
    height: .875rem
  .breadcrumbs__text
    opacity: .7
    font-size: 1rem
    line-height: 1.5rem
    white-space: nowrap

  & ~ .layout__main
    @include mediaMinWidthTabletPort
      padding: 1rem 0





