// FILTER
.layout__filter
  display: grid
  grid-gap: 1.25rem
  @include mediaMinWidthTabletPort
    grid-gap: 2.5rem
  .filter__layout
    display: flex
    align-items: center
    grid-gap: .75rem
    @include mediaMinWidthTabletPort
      grid-gap: 1.25rem
    &.filter__layout_groups
      grid-gap: 1.5rem
      display: grid
      align-items: flex-start
      @include mediaMinWidthTabletPort
        grid-gap: 3rem
        grid-template-columns: 2fr 1fr
        
    &.filter__layout_primary
      .filter__list
        gap: .5rem
        @include mediaMinWidthTabletPort
          gap: .75rem
      .filter__input
        &:checked
          & ~ .filter__text
            border-color: $colorTertiary400
            background-color: $colorTertiary400
            font-weight: 700
      .filter__text
        font-size: .75rem
        line-height: 1.125rem
        font-weight: 500
        padding: .4rem .6rem
        border-radius: .25rem
        text-align: center
        width: 100%
        border: 1px solid $colorPrimary300
        background-color: $colorWhite
        @include transition
        @include mediaMinWidthTabletPort
          font-size: .875rem
          line-height: 1.125rem
    &.filter__layout_secondary
      .filter__list
        gap: .75rem
        @include mediaMinWidthTabletPort
          gap: 1.25rem
      .filter__label
        gap: .25rem
      .filter__input
        &:checked
          & ~ .filter__text
            color: $colorSecondary500
          & ~ .filter__ico
            transform: rotate(-180deg)
      .filter__text
        color: $colorPrimary500
        font-size: .875rem
        line-height: 1rem
        @include transition
        @include mediaMinWidthTabletPort
          font-size: 1rem
          line-height: 1.125rem
      .filter__ico
        width: .5rem
        height: .25rem
        transform: rotate(0)
        @include transition
  .filter__group
    display: grid
    gap: 1rem
  .filter__title
    font-size: 1rem
    line-height: 1.25rem
    font-weight: 700
    &.filter__title_secondary
      font-weight: 800
  .filter__main
    width: 100%
  .filter__list
    display: flex
    flex-wrap: wrap
    &.filter__list_secondary
      flex-direction: column
      @include mediaMinWidthTabletPort
        flex-direction: row
  .filter__label
    position: relative
    cursor: pointer
    display: flex
    align-items: center
  .filter__input
    position: absolute
    left: -999999px

  