//FOOTER
.footer__formular
  color: $colorWhite
  background-color: $colorSecondary300
  padding: 2rem 0
  @include mediaMinWidthTabletPort
    padding: 4.5rem 0
  a
    color: $colorWhite
  .container
    display: grid
    grid-gap: 2rem
  .formular__header
    text-align: center
    @include mediaMinWidthTabletPort
      text-align: left
  .formular__title
    text-transform: uppercase
    strong
      color: $colorTertiary400
  .formular__form
    display: grid
    grid-gap: 1rem
    @include mediaMinWidthTabletPort
      grid-template-columns: 21.25rem 21.25rem 15rem auto
      grid-gap: 1.5rem
      align-items: center

.footer__menu
  padding: 2.5rem 0
  @include background
  @include mediaMinWidthTabletPort
    padding: 3.5rem 0
  .menu__list
    display: grid
    align-items: flex-start
    grid-gap: .75rem
    @include mediaMinWidthTabletPort
      grid-gap: 6.25rem
      grid-template-columns: 1fr 1fr 1fr
  .menu__item
    display: grid
    align-items: flex-start
    grid-gap: 1rem
    &.menu__item_active
      .menu__header
        color: $colorWhite
        background-color: $colorSecondary400
        .menu__ico
          transform: rotate(180deg)
          fill: $colorWhite
  .menu__header
    color: $colorPrimary500
    background-color: $colorWhite
    border-radius: .25rem
    padding: 1rem
    display: flex
    align-items: center
    justify-content: center
    gap: .75rem
    @include mediaMinWidthTabletPort
      gap: 0
      padding: 0
      justify-content: flex-start
      background-color: transparent
  .menu__title
    font-size: 1.125rem
    line-height: 1.5rem
    font-weight: 700
    @include mediaMinWidthTabletPort
      opacity: .5
      font-size: 1rem
      line-height: 2.5rem
      font-weight: 500
  .menu__ico
    width: 1rem
    height: .75rem
    display: block
    fill: $colorSecondary500
    transform: rotate(0)
    @include transition
    @include mediaMinWidthTabletPort
      display: none
      
      
  .menu__main
    display: none
    @include mediaMinWidthTabletPort
      display: block
  .nav__list
    display: flex
    flex-direction: column
    align-items: center
    gap: 1rem
    @include mediaMinWidthTabletPort
      height: 21rem
      gap: 1.5rem 2rem
      display: flex
      align-items: flex-start
      flex-flow: column wrap
      &.nav__list_secondary
        height: 20rem
  .nav__item
    width: 100%
    @include mediaMinWidthTabletPort
      width: 50%
    &:hover,
    &.nav__item_active
      .nav__link
        color: $colorSecondary400
  .nav__link
    color: $colorPrimary500
    font-size: .875rem
    line-height: 1.25rem
    font-weight: 700
    text-transform: uppercase
    display: flex
    @include transition
  
.footer__main
  padding: 2rem 0
  @include mediaMinWidthTabletPort
    padding: 4.5rem 0
  .container
    display: grid
    align-items: flex-start
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
      grid-template-columns: 18.75rem 18rem 15.25rem 12.25rem
      grid-gap: 2rem 5.5rem
  .footer__group
    gap: 1.25rem
    display: grid
    align-items: flex-start
    &.footer__group_secondary
      grid-row: span 2
    &.footer__group_mobile-hide
      display: none
      @include mediaMinWidthTabletPort
        display: grid
    &:nth-child(2)
      @include mediaMinWidthTabletPort
        padding: 0 5rem
    @include mediaMaxWidthTabletPort
      &.order-m-1
        order: -1
      &.order-m-2
        order: -2
      &.order-m-3
        order: -3
      &.order-m-4
        order: -4
      &.order-m-5
        order: -5
    .group__header
      display: flex
      justify-content: center
      @include mediaMinWidthTabletPort
        justify-content: flex-start
      .group__title
        font-size: 1rem
        line-height: 2.5rem
        font-weight: 500
        opacity: .5
.footer__about
  display: grid
  grid-gap: 2rem
  .about__logo
    .logo__link
      display: flex
      align-items: flex-start
    img,
    svg
      max-width: 18.25rem
  .about__location
    display: grid
    grid-template-columns: 1.25rem auto
    grid-gap: .75rem
    .location__ico
      width: 1.25rem
      height: 1.25rem
    .location__text
      font-size: .875rem
      line-height: 1.25rem


  .about__socials
    .socials__list
      display: flex
      gap: 1rem
    .socials__item
      width: 100%
    .socials__link
      color: $colorPrimary500
      border-radius: .25rem
      background-color: $colorPrimary300
      display: grid
      align-items: center
      justify-content: center
      grid-template-columns: 1.25rem auto
      grid-gap: 1rem
      padding: 1rem 1.25rem
      @include transition
      &:hover
        background-color: $colorPrimary400
    .socials__ico
      width: 1.25rem
      height: 1.25rem
    .socials__text
      font-size: 1.125rem
      line-height: 1.25rem
      font-weight: 700
      white-space: nowrap

.footer__support
  .support__list
    display: grid
    grid-gap: 1rem
  .support__item
    &:hover,
    &.support__item_active
      .support__link
        color: $colorSecondary500
  .support__link
    color: $colorPrimary500
    font-size: 1rem
    line-height: 1.25rem
    font-weight: 500
    display: block
    @include transition

.footer__rating
  display: grid
  align-items: center
  justify-content: center
  grid-gap: .75rem
  grid-template-columns: 2rem 2rem auto
  @include mediaMinWidthTabletPort
    justify-content: flex-start
  .rating__ico
    width: 1.875rem
    height: 1.875rem
    display: flex
    align-items: flex-start
    img,
    svg
      width: 100%
      height: 100%
  .rating__title
    display: flex
    align-items: center
    .rating__text
      font-size: 1.125rem
      line-height: 1.5rem
      font-weight: 700
  .rating__list
    display: grid
    grid-gap: .25rem
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    .rating__item
      display: flex
      align-items: flex-start
    .rating__ico
      width: 1.125rem
      height: 1.125rem

.footer__payment
  .payment__list
    display: grid
    grid-gap: .25rem
    grid-template-columns: repeat(2, 1fr)
  .payment__item
    padding-top: 42%
    position: relative
    opacity: 1
    @include transition
    &:hover
      opacity: .5
    img,
    svg
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

.footer__contact
  .contact__list
    display: grid
    grid-gap: 1.5rem
  .contact__item
    &.contact__item_phone
      font-size: 1.125rem
      line-height: 1.5rem
    &.contact__item_callback
    &.contact__item_email
      font-size: .875rem
      line-height: 1rem
  .contact__link
    color: $colorPrimary500
    font-weight: 700
    display: grid
    grid-template-columns: 1.25rem auto
    grid-gap: .75rem
    align-items: center
    @include transition
    &:hover
      color: $colorSecondary400
  .contact__ico
    width: 1.25rem
    height: 1.25rem
    flex-shrink: 0
    fill: $colorSecondary400
    transform: translateY(-.125rem)

.footer__secondary
  color: $colorPrimary400
  font-size: 1rem
  line-height: 1.25rem
  padding: 2rem 0
  @include background
  @include mediaMinWidthTabletPort
    padding: 3rem 0
  .container
    gap: 1.125rem
    display: flex
    flex-direction: column
    align-content: center
    text-align: center
    @include mediaMinWidthTabletPort
      flex-direction: row
      text-align: left
      justify-content: space-between
.footer__design
  .design__link
    color: $colorSecondary500
    font-weight: 700








