.layout__header
  background-color: $colorWhite
  position: relative
  z-index: 3
  &.layout__header_menu-active
    .header__nav
      transform: translateX(0)
    .header__burger
      background-color: $colorSecondary400
      .burger__item
        width: 2rem
        margin-bottom: 0

        &:nth-child(1)
          transform: rotate(45deg)

        &:nth-child(2)
          display: none

        &:nth-child(3)
          margin-top: -.125rem
          transform: rotate(-45deg)

    & ~ *
      opacity: .1
  .container
    position: relative
  .header__primary
    padding: .875rem 0 1rem
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    grid-gap: .875rem 2rem
    @include mediaMinWidthTabletPort
      padding: 1.25rem 0
      grid-gap: 5rem
      flex-wrap: nowrap
      align-items: center
  .header__secondary
    width: 100%
    display: flex
    position: absolute
    z-index: 2
    top: 100%
    left: 0
    
  
  // header__logo
.header__logo
  .logo__link
    height: 100%
    display: flex
  img,
  svg
    height: 3rem
    width: auto
    @include mediaMinWidthTabletPort
      height: 5rem
// data
.header__data
  order: 9
  @include mediaMinWidthTabletPort
    order: unset
  .data__list
    display: grid
    grid-template-columns: auto auto
    grid-gap: 1.25rem
    @include mediaMinWidthTabletPort
      grid-gap: 5rem
  .data__link
    grid-gap: .75rem
    display: flex
    align-items: center
    cursor: pointer
    &:hover
      .data__text
        color: $colorSecondary400
  .data__ico
    height: 2rem
    display: flex
    align-items: flex-start
    @include mediaMinWidthTabletPort
      height: 2.5rem
  .data__text
    color: $colorPrimary500
    font-size: .75rem
    line-height: 1rem
    font-weight: 500
    border-bottom: .125rem dotted $colorSecondary400
    @include transition
    @include mediaMinWidthTabletPort
      font-size: 1rem
      line-height: 1.5rem
// header__contact
.header__contact
  display: flex
  align-items: center
  gap: 1.5rem
  &.header__contact_primary
    @include mediaMinWidthTabletPort
    margin-left: auto
    .contact__data
      display: none
      @include mediaMinWidthTabletPort
        display: grid
  &.header__contact_secondary
    width: 100%
    position: relative
    &:not(:last-child)
      margin-bottom: 2rem
      &::before
        content: ""
        position: absolute
        top: calc(100% + 1.75rem)
        width: 100%
        left: 50%
        border-bottom: .125rem dotted rgba(157,157,157,.5)
        @include transform-x
    @include mediaMinWidthTabletPort
      display: none
    .contact__data
      width: 100%
      align-items: center
  .contact__data
    display: flex
    flex-direction: column
    align-items: flex-end
  .contact__link
    color: $colorPrimary500
    font-size: 1.25rem
    line-height: 1.5rem
    font-weight: 500
    @include transition
    &:hover
      color: $colorSecondary400
  .contact__text
    font-size: .8125rem
    line-height: 1.5rem
    opacity: .7
  
// header__callback
.header__callback
  display: flex
  align-items: flex-start

// header__catalog
.header__catalog
  color: $colorWhite
  flex-shrink: 0
  width: 100%
  position: relative
  @include mediaMinWidthTabletPort
    width: auto
  &.header__catalog_active
    .catalog__header
      border-radius: 0
    .catalog__burger
      .burger__item
        width: 1.5rem
        margin-bottom: 0
        &:nth-child(1)
          transform: rotate(45deg)
        &:nth-child(2)
          display: none
        &:nth-child(3)
          margin-top: -.35rem
          transform: rotate(-45deg)





  .catalog__header
    display: flex
    align-items: center
    justify-content: center
    background-color: $colorSecondary400
    border-radius: 0 0 .25rem .25rem
    padding: 1.125rem 3.5rem
    gap: 1.125rem
    cursor: pointer
    @include transition
    @include mediaMinWidthTabletPort
      border-radius: 0 0 0 .25rem
    .catalog__burger
      display: flex
      width: 1.5rem
      height: 1rem
      flex-direction: column
      justify-content: center
      align-items: flex-start
    .burger__item
      width: 1.5rem
      background-color: $colorWhite
      height: .125rem
      border-radius: .5rem
      @include transition
      &:not(:last-child)
        margin-bottom: .25rem
      &:nth-child(2)
        width: 1rem


    .catalog__title
      font-size: 1.125rem
      line-height: 1.5rem
      font-weight: 700
  .catalog__main
    position: absolute
    left: 0
    top: 100%
    width: 100%
    border-radius: 0 0 .25rem .25rem
    background-color: $colorSecondary500
    display: none
    @include mediaMinWidthTabletPort
      width: 25rem
  .catalog__list
    padding: 1rem 0
    display: grid
    justify-content: center
  .catalog__item
    &:hover,
    &.catalog__item_active
      .catalog__link
        color: $colorTertiary400
  .catalog__link
    color: $colorWhite
    font-size: 1.5rem
    line-height: 2rem
    font-weight: 700
    padding: 1rem
    display: flex
    justify-content: center
    text-align: center
    z-index: 2
    @include transition
    @include mediaMinWidthTabletPort
      text-align: left
      justify-content: flex-start
// header__menu
.header__menu
  width: 100%
  display: flex
  
  @include mediaMaxWidthTabletPort
    position: absolute
    top: 0
    display: none
    left: -1.25rem
    width: calc(100% + 2.5rem)
    padding: 1.25rem
    transform: translateX(0)
    @include background
    @include transition
  
// header__nav
.header__nav
  width: 100%
  @include mediaMinWidthTabletPort
    background-color: $colorSecondary500
  .nav__list
    padding: 1.25rem 0
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
      padding: 0
      flex-direction: row
  .nav__item
    width: 100%
    position: relative
    &:hover,
    &.nav__item_active
      .nav__link
        color: $colorTertiary400
        @include mediaMinWidthTabletPort
          &::after
            height: .125rem
      .nav__ico
        fill: $colorTertiary400
        transform: rotate(180deg)
        transform-origin: center center
    &:not(:last-child)
      @include mediaMinWidthTabletPort
        &::before
          content: ""
          position: absolute
          width: 1px
          height: 1.25rem
          top: 50%
          left: 100%
          background-color: rgba(255,255,255,.1)
          @include transform
  .nav__link,
  .nav__sublink
    color: $colorPrimary500
    font-size: 1.5rem
    line-height: 1.5rem
    padding: 1.25rem 1.5rem
    font-weight: 700
    gap: .5rem
    cursor: pointer
    text-align: center
    display: flex
    flex-wrap: wrap
    align-items: center
    white-space: nowrap
    text-overflow: ellipsis
    position: relative
    @include transition
    @include mediaMinWidthTabletPort
      color: $colorWhite
      text-align: left
      flex-wrap: nowrap
      font-size: 1.125rem
      line-height: 1.5rem
      padding: 1.125rem 2rem
    &::after
      content: ""
      position: absolute
      left: 50%
      bottom: 0
      height: 0
      width: calc(100% - 4rem)
      background-color: $colorTertiary400
      @include transform-x
      @include transition
  .nav__ico
    width: 1rem
    height: 1rem
    flex-shrink: 0
    fill: $colorPrimary500
    transform: rotate(0deg)
    @include transition
    @include mediaMinWidthTabletPort
      fill: $colorWhite
      width: .5rem
      height: .5rem
  .nav__sublist
    padding: .5rem 0
    display: none
    @include mediaMinWidthTabletPort
      width: 20rem
      padding: .5rem
      position: absolute
      left: 0
      top: 100%
      border-radius: 0 0 .25rem .25rem
      background-color: $colorSecondary500
    .nav__subitem
      &:active,
      &:hover
        .nav__sublink
          color: $colorTertiary400
    .nav__sublink
      font-size: 1.125rem
      line-height: 1.125rem
      color: $colorPrimary500
      padding: .75rem 0
      @include mediaMinWidthTabletPort
        color: $colorWhite
        font-size: 1.125rem
        line-height: 1.5rem
        padding: .75rem 1rem


// burger
.header__burger
  display: flex
  flex-shrink: 0
  width: 3.75rem
  height: 3.75rem
  border-radius: 0 0 0 .25rem
  background-color: $colorSecondary500
  flex-direction: column
  justify-content: center
  align-items: center
  position: absolute
  top: 0
  right: -1.25rem
  z-index: 10
  @include transition
  @include mediaMinWidthTabletPort
    display: none


  .burger__item
    width: 1.5rem
    background-color: $colorWhite
    height: .125rem
    @include transition
    &:not(:last-child)
      margin-bottom: .25rem

// header__search
.header__search
  width: 3.75rem
  height: 3.75rem
  background-color: $colorWhite
  position: absolute
  top: -4rem
  right: -1.25rem
  @include mediaMinWidthTabletPort
    border-radius: 0 0 .25rem 0
    background-color: $colorSecondary400
    flex-shrink: 0
    position: unset
  .search__link
    height: 100%
    display: flex
    justify-content: center
    align-items: center
  .search__ico
    width: 1.25rem
    height: 1.25rem
    fill: $colorSecondary400
    @include mediaMinWidthTabletPort
      fill: $colorWhite
