// LAYOUT
.layout
  font-size: 1.125rem
  line-height: 1.5rem
  display: flex
  flex-direction: column
  min-height: 100vh
  overflow: hidden
  overflow-y: auto
  visibility: hidden
  opacity: 0
  @include transition
  
  &.layout_ready-load
    visibility: visible
    opacity: 1
  .layout__main
    flex-grow: 1
    &.layout__main_has-sidebar
      >.container
        @include mediaMinWidthTabletPort
          display: grid
          grid-template-columns: 17rem auto
          grid-gap: 3.75rem

