// Модальное окно
.modal-init
  cursor: pointer
.layout__modal
  position: fixed
  top: 0
  left: 0
  z-index: 4
  cursor: pointer
  width: 100%
  height: 100%
  visibility: hidden
  opacity: 0
  background: rgba(37, 36, 37, 0.8)
  @include transition

.layout_modal-active
  .layout__modal
    visibility: visible
    opacity: 1
.modal__layout
  position: fixed
  top: auto
  bottom: 0
  cursor: auto
  width: 100%
  height: auto
  max-height: 100vh
  display: flex
  flex-direction: column
  background-color: $colorWhite
  border-radius: .75rem .75rem 0 0
  z-index: 111
  visibility: hidden
  overflow: hidden
  overflow-y: auto
  opacity: 0
  @include transition
  @media screen and (min-width: #{$mediaMinWidthTabletLand}) and (min-height: 40rem)
    top: 50%
    bottom: auto
    left: 50%
    max-width: 53.5rem
    border-radius: .75rem
    overflow: visible
    @include transform
    &.modal__layout_secondary
      max-width: 26.25rem
  &.modal__layout_active
    visibility: visible
    opacity: 1

  //modal action
  .modal__action
    width: 3rem
    height: 3rem
    border-radius: 0 .75rem 0 .75rem
    background-color: $colorSecondary400
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    position: absolute
    right: 0
    top: 0
    @include transition
    &:hover
      background-color: $colorSecondary500
    .modal__ico
      width: 1.125rem
      height: 1.125rem
      stroke: $colorWhite
      @include transition




.modal__gallery
  padding: 4rem 1rem 2rem
  display: flex
  flex-direction: column
  grid-gap: 3rem
  @include mediaMinWidthTabletPort
    padding: 4.5rem 3.75rem 3.5rem
  .gallery__item
    width: 15rem
    margin: 0 .5rem
    @include mediaMinWidthTabletPort
      width: 18.75rem
      margin: 0 .75rem
  .gallery__header
    text-align: center
  .gallery__title
    text-transform: uppercase
  .gallery__list
    @include mediaMinWidthTabletPort
      margin-right: -3.75rem
  .slick-arrow
    @include mediaMinWidthTabletPort
      &.slick-prev
        left: -3.75rem
      &.slick-next
        left: 100%
  .gallery__media
    border-radius: .25rem
    padding-top: 70%
    overflow: hidden
    position: relative
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

.modal__calculator
  padding: 2rem 1rem
  color: $colorWhite
  background-color: $colorSecondary300
  @include mediaMinWidthTabletPort
    border-radius: 0 0 .75rem .75rem
    padding: 3rem 3.75rem
  a
    color: $colorWhite
  .calculator__formular
    display: grid
    grid-gap: 1rem
    @include mediaMinWidthTabletPort
      grid-gap: 1.25rem
  .formular__header
    display: flex
    justify-content: center
  .formular__title
    font-size: 1.5rem
    line-height: 2rem
    font-family: $mainFont
    @include mediaMinWidthTabletPort
      font-size: 1.875rem
      line-height: 2.5rem
  .formular__form
    display: grid
    grid-gap: 1rem
    @include mediaMinWidthTabletPort
      grid-template-columns: 15.75rem 15.75rem auto
      grid-gap: 1.5rem
      align-items: center
  .form__item_secondary
    @include mediaMinWidthTabletPort
      grid-column: span 3
      text-align: center




.modal__callback,
.modal__search
  padding: 4rem 1rem 2rem
  color: $colorWhite
  background-color: $colorSecondary300
  @include mediaMinWidthTabletPort
    border-radius: .75rem
    padding: 3rem 3rem 2rem
  a
    color: $colorWhite

  .callback__formular,
  .search__formular
    display: grid
    grid-gap: 1rem
    @include mediaMinWidthTabletPort
      grid-gap: 1.25rem
  .formular__header
    display: flex
    justify-content: center
  .formular__title
    font-size: 1.5rem
    line-height: 2rem
    font-family: $mainFont
    @include mediaMinWidthTabletPort
      font-size: 1.875rem
      line-height: 2.5rem
  .formular__form
    display: grid
    grid-gap: 1rem
  .form__item_secondary
    text-align: center





.fancybox-slide img
  border-radius: .75rem
  object-fit: unset