// NAVIGATION
.layout__navigation
  border-radius: .25rem
  padding: .75rem 1rem
  display: flex
  align-items: center
  justify-content: space-between
  @include background
  @include mediaMinWidthTabletPort
    padding: .75rem 2rem
  .navigation__arrow
    .navigation__link
      color: $colorPrimary500
      gap: .75rem
      display: flex
      align-items: center
      cursor: pointer
      &:hover
        .navigation__ico
          fill: $colorPrimary500
        .navigation__text
          color: $colorPrimary500
    .navigation__ico
      width: 1rem
      height: 1rem
      fill: $colorPrimary400
      @include transition
      @include mediaMinWidthTabletPort
        transform: translateY(-.125rem)
    .navigation__text
      color: $colorPrimary400
      font-size: 1rem
      line-height: 2.5rem
      font-weight: 800
      text-transform: uppercase
      display: none
      @include transition
      @include mediaMinWidthTabletPort
        display: block
  .navigation__pagination
    .pagination__list
      gap: .75rem
      display: flex
      align-items: center
    .pagination__item
      &:hover,
      &.pagination__item_active
        .pagination__link
          color: $colorPrimary500
          background-color: $colorTertiary400
    .pagination__link
      color: $colorPrimary500
      background-color: $colorWhite
      width: 2rem
      height: 2rem
      border-radius: .25rem
      font-size: 1rem
      line-height: 1.25rem
      font-weight: 800
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      @include transition

