.layout__section
  padding: 2rem 0
  position: relative
  @include mediaMinWidthTabletPort
    padding: 2.75rem 0
  &.layout__section_secondary
    @include mediaMinWidthTabletPort
      .container
        display: grid
        align-items: center
        grid-template-columns: auto auto
      .section__main
        grid-column: span 2
        >*
          width: 80.75rem
          max-width: calc(100vw - 2.5rem)
  &.layout__section_background
    @include backgroundBefore
  .container
    display: flex
    flex-direction: column

  .section__header,
  .section__main,
  .section__footer,
  .section__action,
  .section__nav
    display: flex
    flex-direction: column
    gap: 2rem
    @include mediaMinWidthTabletPort
      gap: 3rem
    &:not(:last-child)
      margin-bottom: 2rem
      @include mediaMinWidthTabletPort
        margin-bottom: 3.5rem
    &.section__header_secondary
      &:not(:last-child)
        @include mediaMinWidthTabletPort
          margin-bottom: 2rem

  .section__header
    @include mediaMinWidthTabletPort
      order: -2 
  .section__title
    text-align: center
    text-transform: uppercase
    @include mediaMinWidthTabletPort
      text-align: left
    &.section__title_secondary
      text-align: left
  .section__action
    display: flex
    align-items: center
    margin-bottom: 3.5rem
    gap: 1rem
    position: relative
    @include mediaMinWidthTabletPort
      order: -1 
      margin-left: auto
      justify-content: flex-end
    .btn
      width: 100%
      min-width: 12.25rem
      @include mediaMinWidthTabletPort
        width: auto
    .slick-arrow
      flex-shrink: 0
      position: unset
      transform: none
  .section__nav
    display: flex
    flex-direction: row
    gap: 1.25rem
    justify-content: center
    align-items: center
    @include mediaMinWidthTabletPort
      justify-content: flex-end
    .slick-arrow
      position: unset
      transform: none

