// SIDEBAR
.layout__sidebar
  display: grid
  grid-gap: 1.25rem
  padding: 2rem 0
  @include mediaMinWidthTabletPort
    padding: 2.75rem 0
  .sidebar__initial
    padding: 1rem
    border-radius: .25rem
    background-color: $colorPrimary300
    gap: .75rem
    display: flex
    align-items: center
    justify-content: center
    @include mediaMinWidthTabletPort
      display: none
    &.sidebar__initial_active
      background-color: $colorTertiary400
      .initial__ico
        fill: $colorPrimary500
        transform: rotate(180deg)
    .initial__text
      font-size: 1.125rem
      line-height: 1.125rem
      font-weight: 700
    .initial__ico
      width: 1.25rem
      height: 1.25rem
      fill: $colorSecondary500
      transform: rotate(0deg)
      @include transition
  .sidebar__dropdown
    display: none
    @include mediaMinWidthTabletPort
      display: block
  .sidebar__list
    display: grid
    grid-gap: .75rem
  .sidebar__item
    padding: 2rem
    border-radius: .25rem
    display: grid
    grid-gap: 1.25rem
    @include background
  .sidebar__header
  .sidebar__title
    font-size: 1rem
    line-height: 1.25rem
    font-weight: 800
  .sidebar__main
    display: grid
    gap: 1rem
  .sidebar__footer
    display: flex
    justify-content: flex-start
    .btn
      width: 100%

    



















