// white color
$colorWhite: #ffffff
// error color
$colorRed: #FFAFAF
// succes color
$colorGreen: #013220
// primary color
$colorPrimary100: #FFFCF9
$colorPrimary200: #F5F7E9
$colorPrimary300: #EFEBE8
$colorPrimary400: #9D9D9D
$colorPrimary500: #252422
// secondary color
$colorSecondary300: #15702F
$colorSecondary400: #05cf78
$colorSecondary500: #298443
$colorSecondary600: #52C373
// tertiary color
$colorTertiary400: #FDD551
$colorTertiary500: #DAB22E
// fonts
$mainFont: 'Muller', sans-serif
$secondaryFont: 'Oswald', sans-serif
// mixin
@mixin transition()
  transition: all 0.4s ease-in-out

@mixin transform()
  transform: translate(-50%, -50%)

@mixin transform-x()
  transform: translateX(-50%)

@mixin transform-y()
  transform: translateY(-50%)

@mixin transform-none()
  transform: translate(0 , 0)

@mixin box-shadow
  box-shadow: 0 .25rem .25rem rgba(0,0,0,.25)

@mixin box-shadow_secondary
  box-shadow: 0 2rem 3.75rem rgba(37,36,34,.1)

@mixin box-shadow_tertiary
  box-shadow: 0 1.875rem 3.75rem rgba(37,36,34,.1)

@mixin box-shadow_quarty
  box-shadow: 0 .25rem .25rem rgba(37,36,34,.1)

@mixin background
  background-image: url("../img/background.jpg")
  background-repeat: repeat
  background-position: center
@mixin backgroundBefore
  position: relative
  &::before
    content: ""
    position: absolute
    top: 0
    height: 100%
    left: -50vw
    width: 200vw
    z-index: -1
    @include background