<footer class="layout__footer footer">
  <div class="footer__formular formular">
    <div class="container">
      <div class="formular__header">
        <span class="formular__title h2"
          >Остались вопросы <strong>?</strong></span
        >
      </div>
      <div class="formular__main">
        <form class="formular__form">
          <div class="form__item">
            <label class="form__label">
              <input
                class="form__input"
                type="text"
                placeholder="Ваше имя"
                required
              />
              <span class="form__ico">
                <svg class="data__ico">
                  <use xlink:href="img/sprite.svg#form__ico01"></use>
                </svg>
              </span>
            </label>
          </div>
          <div class="form__item">
            <label class="form__label">
              <input
                class="form__input"
                type="text"
                placeholder="Номер телефона"
                required
              />
              <span class="form__ico">
                <svg class="data__ico">
                  <use xlink:href="img/sprite.svg#form__ico02"></use>
                </svg>
              </span>
            </label>
          </div>
          <div class="form__item">
            <button class="btn btn_secondary w-100" type="submit">
              <span class="btn__text">Задать вопрос</span>
            </button>
          </div>
          <div class="form__item">
            <span class="form__text">
              Нажимая на кнопку “Записаться” вы соглашаетесь с
              <strong><a href="#">политикой конфиденциальности</a></strong>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="footer__menu menu">
    <div class="container">
      <div class="menu__list">
        <div class="menu__item">
          <div class="menu__header">
            <span class="menu__title">Каталог</span>
            <svg class="menu__ico">
              <use xlink:href="img/sprite.svg#arrowBottom"></use>
            </svg>
          </div>
          <div class="menu__main">
            <ul class="nav__list">
              <li class="nav__item">
                <a class="nav__link" href="#">Консоли</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Столы и рабочие зоны</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">ТВ Тумбы</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Прикроватные тумбы и комоды</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Гардеробные</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Двери-купе</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Кухни на заказ</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Мебель для ванной</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Распашные шкафы</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Угловые шкафы</a>
              </li>
              <li class="nav__item"><a class="nav__link" href="#">Шкафы</a></li>
              <li class="nav__item">
                <a class="nav__link" href="#">Шкафы встроенные</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Шкафы радиусные</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Шкафы-купе</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="menu__item">
          <div class="menu__header">
            <span class="menu__title">О компании</span>
            <svg class="menu__ico">
              <use xlink:href="img/sprite.svg#arrowBottom"></use>
            </svg>
          </div>
          <div class="menu__main">
            <ul class="nav__list nav__list_secondary">
              <li class="nav__item">
                <a class="nav__link" href="#">Контакты</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">О компании</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Производство</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Материалы и фурнитура</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Сертификаты и лицензии</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Шоу-рум</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Вакансии</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Отзывы клиентов</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Услуги</a>
              </li>
              <li class="nav__item"><a class="nav__link" href="#">Блог</a></li>
              <li class="nav__item">
                <a class="nav__link" href="#">Акции Новости</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="menu__item">
          <div class="menu__header">
            <span class="menu__title">Клиентам</span>
            <svg class="menu__ico">
              <use xlink:href="img/sprite.svg#arrowBottom"></use>
            </svg>
          </div>
          <div class="menu__main">
            <ul class="nav__list">
              <li class="nav__item">
                <a class="nav__link" href="#">Наши работы</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Вопрос-ответ</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Доставка</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Оплата</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Сборка мебели</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Гарантия и возврат</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Изготовление и сроки</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#"
                  >Инструкция по эксплуатации мебели</a
                >
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Как заказать</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Публичная оферта</a>
              </li>
              <li class="nav__item">
                <a class="nav__link" href="#">Рассрочка и кредит</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__main">
    <div class="container">
      <div class="footer__group footer__group_secondary group order-m-5">
        <div class="group__main">
          <div class="footer__about about">
            <div class="about__logo logo">
              <a class="logo__link" href="#">
                <img
                  data-src="img/logo.png"
                  src="img/preview.jpg"
                  alt="image description"
                />
              </a>
            </div>
            <div class="about__location location">
              <svg class="location__ico">
                <use xlink:href="img/sprite.svg#marker"></use>
              </svg>
              <span class="location__text">
                <strong>Москва, бульвар Энтузиастов, 2</strong>
                БЦ Golden Gate 5 мин. от станции метро Римская
              </span>
            </div>
            <div class="about__socials socials">
              <div class="socials__list">
                <div class="socials__item">
                  <a class="socials__link" href="#">
                    <svg class="socials__ico">
                      <use xlink:href="img/sprite.svg#vk"></use>
                    </svg>
                    <span class="socials__text">В контакте</span>
                  </a>
                </div>
                <div class="socials__item">
                  <a class="socials__link" href="#">
                    <svg class="socials__ico">
                      <use xlink:href="img/sprite.svg#dzen"></use>
                    </svg>
                    <span class="socials__text">Дзен</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="footer__group footer__group_secondary footer__group_mobile-hide group order-m-3"
      >
        <div class="group__header">
          <span class="group__title">Полезные ссылки</span>
        </div>
        <div class="group__main">
          <div class="footer__support support">
            <ul class="support__list">
              <li class="support__item">
                <a class="support__link" href="#"
                  >Онлайн калькулятор расчета стоимости</a
                >
              </li>
              <li class="support__item">
                <a class="support__link" href="#"
                  >Политика конфиденциальности</a
                >
              </li>
              <li class="support__item">
                <a class="support__link" href="#">Дизайн решения</a>
              </li>
              <li class="support__item">
                <a class="support__link" href="#">Дизайнерам</a>
              </li>
              <li class="support__item">
                <a class="support__link" href="#">Карта сайта</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__group group order-m-2">
        <div class="group__header">
          <span class="group__title">Оценка покупателей</span>
        </div>
        <div class="group__main">
          <div class="footer__rating rating">
            <div class="rating__ico">
              <svg class="socials__ico">
                <use xlink:href="img/sprite.svg#yandex"></use>
              </svg>
            </div>
            <div class="rating__title">
              <span class="rating__text">4.9</span>
            </div>
            <div class="rating__list">
              <div class="rating__item">
                <svg class="rating__ico">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="rating__item">
                <svg class="rating__ico">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="rating__item">
                <svg class="rating__ico">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="rating__item">
                <svg class="rating__ico">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
              <div class="rating__item">
                <svg class="rating__ico">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__group footer__group_secondary group order-m-4">
        <div class="group__main">
          <div class="footer__contact contact">
            <div class="contact">
              <div class="contact__list">
                <div class="contact__item contact__item_phone">
                  <a class="contact__link" href="#">
                    <svg class="contact__ico">
                      <use xlink:href="img/sprite.svg#contact__ico01"></use>
                    </svg>
                    <span class="contact__text">+7 (499) 390-11-38</span>
                  </a>
                </div>
                <div class="contact__item contact__item_callback">
                  <a class="btn btn_tiny btn_secondary" href="#">
                    <span class="btn__text">Заказать звонок</span>
                  </a>
                </div>
                <div class="contact__item contact__item_email">
                  <a class="contact__link" href="#">
                    <svg class="contact__ico">
                      <use xlink:href="img/sprite.svg#contact__ico02"></use>
                    </svg>
                    <span class="contact__text">kupemoskva@yandex.ru</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__group group order-m-1">
        <div class="group__header">
          <span class="group__title">Принимаем к оплате</span>
        </div>
        <div class="group__main">
          <div class="footer__payment payment">
            <div class="payment__list">
              <div class="payment__item">
                <img
                  data-src="img/content/payment/payment__img01.png"
                  src="img/preview.jpg"
                  alt="image description"
                />
              </div>
              <div class="payment__item">
                <img
                  data-src="img/content/payment/payment__img02.png"
                  src="img/preview.jpg"
                  alt="image description"
                />
              </div>
              <div class="payment__item">
                <img
                  data-src="img/content/payment/payment__img03.png"
                  src="img/preview.jpg"
                  alt="image description"
                />
              </div>
              <div class="payment__item">
                <img
                  data-src="img/content/payment/payment__img04.png"
                  src="img/preview.jpg"
                  alt="image description"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__secondary">
    <div class="container">
      <div class="footer__copy copy">
        <span class="copy__text">© 2024 «Купемосква» Все права защищены</span>
      </div>
      <div class="footer__design design">
        <span class="design__text"
          >Разработка сайта:
          <a class="design__link" href="https://miridea.ru/"
            >miridea.ru</a
          ></span
        >
      </div>
    </div>
  </div>
</footer>
