<header class="layout__header header">
  <div class="container">
    <div class="header__primary">
      <div class="header__logo logo">
        <a class="logo__link" href="index.html">
          <img
            class="media__img"
            data-src="img/logo.png"
            src="img/preview.jpg"
            alt="image description"
          />
        </a>
      </div>

      <div class="header__data data">
        <div class="data__list">
          <div class="data__item">
            <span
              class="data__link modal-init"
              data-modalname="modal__layout_callback"
            >
              <img
                class="data__ico"
                data-src="img/content/header/header__img01.png"
                src="img/preview.jpg"
                alt="image description"
              />
              <span class="data__text">Вызвать замерщика</span>
            </span>
          </div>
          <div class="data__item">
            <a class="data__link" href="#">
              <img
                class="data__ico"
                data-src="img/content/header/header__img02.png"
                src="img/preview.jpg"
                alt="image description"
              />
              <span class="data__text">Акции</span>
            </a>
          </div>
        </div>
      </div>

      <div class="header__contact header__contact_primary contact">
        <div class="contact__data">
          <a class="contact__link" href="#">+7 (499) 390-11-38</a>
          <span class="contact__text">Ежедневно с 09:00 до 21:00</span>
        </div>
        <div class="contact__callback">
          <a class="btn btn_secondary btn_circle btn_tiny" href="#">
            <svg class="btn__ico">
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <span class="btn__text">Заказать звонок</span>
          </a>
        </div>
      </div>
      <div class="header__burger burger">
        <span class="burger__item"></span>
        <span class="burger__item"></span>
        <span class="burger__item"></span>
      </div>
    </div>
    <div class="header__secondary">
      <div class="header__catalog catalog">
        <div class="catalog__header">
          <div class="catalog__burger burger">
            <span class="burger__item"></span>
            <span class="burger__item"></span>
            <span class="burger__item"></span>
          </div>
          <span class="catalog__title">Каталог</span>
        </div>
        <div class="catalog__main">
          <ul class="catalog__list">
            <li class="catalog__item">
              <a class="catalog__link" href="#">Шкафы-купе</a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">Гардеробные</a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">Двери-купе</a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">Кухни</a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">Консоли</a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">Столы и рабочие зоны</a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">Распашные шкафы</a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">Тумбы и комоды</a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">ТВ тумбы</a>
            </li>
            <li class="catalog__item">
              <a class="catalog__link" href="#">Мебель для ванной</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="header__menu">
        <div class="header__contact header__contact_secondary contact">
          <div class="contact__data">
            <a class="contact__link" href="#">+7 (499) 390-11-38</a>
            <span class="contact__text">Ежедневно с 09:00 до 21:00</span>
          </div>
        </div>
        <nav class="header__nav nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#" class="nav__link">О компании</a>
            </li>
            <li class="nav__item">
              <span class="nav__link">
                <span class="nav__text">Услуги</span>
                <svg class="nav__ico">
                  <use xlink:href="img/sprite.svg#arrowBottom"></use>
                </svg>

                <ul class="nav__sublist">
                  <li class="nav__subitem">
                    <a class="nav__sublink" href="#"
                      >Выезд дизайнера-замерщика</a
                    >
                  </li>
                  <li class="nav__subitem">
                    <a class="nav__sublink" href="#"
                      >Доставка и подъем на этаж</a
                    >
                  </li>
                  <li class="nav__subitem">
                    <a class="nav__sublink" href="#">Монтаж (сборка)</a>
                  </li>
                </ul>
              </span>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Наши работы</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Материалы</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Сотрудничество</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header__search search">
        <span
          class="search__link modal-init"
          data-modalname="modal__layout_search"
        >
          <svg class="search__ico">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <!-- //container -->
</header>
<!-- //header -->
