<meta charset="utf-8" />
<title>Купемосква</title>
<meta
  name="viewport"
  content="width=device-width, initial-scale=1 , maximum-scale=1, user-scalable=0"
/>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<link rel="stylesheet" href="css/libs.min.css" />
<link rel="stylesheet" href="css/main.css" />
<link href="img/favicon.png" rel="shortcut icon" type="image/x-icon" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
  rel="stylesheet"
/>
