<div class="layout__modal modal">
  <!-- // Каталог  -->
  <div class="modal__layout modal__layout_catalog">
    <div class="modal__action">
      <svg class="modal__ico">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </div>
    <div class="modal__main">
      <div class="modal__gallery gallery">
        <div class="gallery__header">
          <span class="gallery__title h2">Мебель для ванной</span>
        </div>
        <div class="gallery__main">
          <div class="gallery__list">
            <div class="gallery__item">
              <div class="gallery__media">
                <img
                  data-src="img/content/products/products__img01.jpg"
                  src="img/preview.jpg"
                  alt="image description"
                />
              </div>
            </div>
            <div class="gallery__item">
              <div class="gallery__media">
                <img
                  data-src="img/content/products/products__img02.jpg"
                  src="img/preview.jpg"
                  alt="image description"
                />
              </div>
            </div>
            <div class="gallery__item">
              <div class="gallery__media">
                <img
                  data-src="img/content/products/products__img03.jpg"
                  src="img/preview.jpg"
                  alt="image description"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal__calculator calculator">
        <div class="calculator__formular formular">
          <div class="formular__header">
            <span class="formular__title">
              <strong>Рассчитать стоимость</strong></span
            >
          </div>
          <div class="formular__main">
            <form class="formular__form">
              <div class="form__item">
                <label class="form__label">
                  <input
                    class="form__input"
                    type="text"
                    placeholder="Ваше имя"
                    required
                  />
                  <span class="form__ico">
                    <svg class="data__ico">
                      <use xlink:href="img/sprite.svg#form__ico01"></use>
                    </svg>
                  </span>
                </label>
              </div>
              <div class="form__item">
                <label class="form__label">
                  <input
                    class="form__input mask_phone"
                    type="text"
                    placeholder="Номер телефона"
                    required
                  />

                  <span class="form__ico">
                    <svg class="data__ico">
                      <use xlink:href="img/sprite.svg#form__ico02"></use>
                    </svg>
                  </span>
                </label>
              </div>
              <div class="form__item">
                <button class="btn btn_secondary w-100" type="submit">
                  <span class="btn__text">Отправить</span>
                </button>
              </div>
              <div class="form__item form__item_secondary">
                <span class="form__text">
                  Нажимая на кнопку “Отправить” вы соглашаетесь с
                  <strong><a href="#">политикой конфиденциальности</a></strong>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- // Обратный звонок  -->
  <div class="modal__layout modal__layout_secondary modal__layout_callback">
    <div class="modal__action">
      <svg class="modal__ico">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </div>
    <div class="modal__main">
      <div class="modal__callback">
        <div class="callback__formular formular">
          <div class="formular__header">
            <span class="formular__title">
              <strong>Заказать звонок</strong></span
            >
          </div>
          <div class="formular__main">
            <form class="formular__form">
              <div class="form__item">
                <label class="form__label">
                  <input
                    class="form__input"
                    type="text"
                    placeholder="Ваше имя"
                    required
                  />
                  <span class="form__ico">
                    <svg class="data__ico">
                      <use xlink:href="img/sprite.svg#form__ico01"></use>
                    </svg>
                  </span>
                </label>
              </div>
              <div class="form__item">
                <label class="form__label">
                  <input
                    class="form__input mask_phone"
                    type="text"
                    placeholder="Номер телефона"
                    required
                  />

                  <span class="form__ico">
                    <svg class="data__ico">
                      <use xlink:href="img/sprite.svg#form__ico02"></use>
                    </svg>
                  </span>
                </label>
              </div>
              <div class="form__item">
                <button class="btn btn_secondary w-100" type="submit">
                  <span class="btn__text">Отправить</span>
                </button>
              </div>
              <div class="form__item form__item_secondary">
                <span class="form__text">
                  Нажимая на кнопку “Отправить” вы соглашаетесь с
                  <strong><a href="#">политикой конфиденциальности</a></strong>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- // Поиск  -->
  <div class="modal__layout modal__layout_secondary modal__layout_search">
    <div class="modal__action">
      <svg class="modal__ico">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </div>
    <div class="modal__main">
      <div class="modal__search">
        <div class="search__formular formular">
          <div class="formular__header">
            <span class="formular__title"> <strong>Поиск</strong></span>
          </div>
          <div class="formular__main">
            <form class="formular__form">
              <div class="form__item">
                <label class="form__label">
                  <input class="form__input" type="text" required />
                  <span class="form__ico">
                    <svg>
                      <use xlink:href="img/sprite.svg#search"></use>
                    </svg>
                  </span>
                </label>
              </div>

              <div class="form__item">
                <button class="btn btn_secondary w-100" type="submit">
                  <span class="btn__text">Искать</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
