<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script
  src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"
  type="text/javascript"
></script>
<script src="js/libs.js"></script>
<script src="js/main.js"></script>
