<aside class="layout__sidebar sidebar">
  <div class="sidebar__initial initial">
    <span class="initial__text">Фильтр</span>
    <svg class="initial__ico">
      <use xlink:href="img/sprite.svg#chevronDown"></use>
    </svg>
  </div>
  <div class="sidebar__dropdown">
    <form class="sidebar__formular" action="index.html">
      <div class="sidebar__list">
        <div class="sidebar__item">
          <div class="sidebar__header">
            <span class="sidebar__title">Цена:</span>
          </div>
          <div class="sidebar__main">
            <div class="form__item">
              <div class="range">
                <div class="range__slider"></div>

                <div class="range__form">
                  <div class="range__item range__item_min">
                    <input
                      class="range__input form__input range__input_min"
                      type="text"
                      placeholder="0"
                    />
                  </div>
                  <div class="range__item range__item_max">
                    <input
                      class="range__input form__input range__input_max"
                      type="text"
                      placeholder="0"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar__item">
          <div class="sidebar__header">
            <span class="sidebar__title">Назначение:</span>
          </div>
          <div class="sidebar__main">
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    id="checkbox-1"
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                    required
                    checked
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">В гостиную</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    id="checkbox-1"
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                    required
                    checked
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">В прихожую</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    id="checkbox-1"
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                    required
                    checked
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">В проем</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    id="checkbox-1"
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                    required
                    checked
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">В спальню</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    id="checkbox-1"
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                    required
                    checked
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Гардероб</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar__item">
          <div class="sidebar__header">
            <span class="sidebar__title">Вариант установки:</span>
          </div>
          <div class="sidebar__main">
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Белые</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Во всю стену</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Встроенный</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Гардеробные</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Двери-купе</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Для гостинной</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Для детской</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Для прихожей</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Для спальни</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Классика</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Консоли</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Корпусный</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Кухни</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Лофт</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Мебель для ванной</span>
                </label>
              </div>
            </div>
            <div class="form__item">
              <div class="custom-check">
                <label class="custom-check__label">
                  <input
                    class="custom-check__input"
                    type="checkbox"
                    name="chekbox"
                  />
                  <svg class="custom-check__ico custom-check__ico_before">
                    <use xlink:href="img/sprite.svg#checkboxBefore"></use>
                  </svg>
                  <svg class="custom-check__ico custom-check__ico_after">
                    <use xlink:href="img/sprite.svg#checkboxAfter"></use>
                  </svg>
                  <span class="custom-check__text">Открытие полки</span>
                </label>
              </div>
            </div>
          </div>
          <div class="sidebar__footer">
            <button type="submit" class="btn btn_secondary btn_tiny">
              <span class="btn__text">Показать все</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</aside>
