.layout__accordion
  display: grid
  grid-gap: 1.25rem
  margin: 0 -1.5rem
  
  @include mediaMinWidthTabletPort
    margin: 0
    grid-template-columns: repeat(2,1fr)
    grid-gap: 1.5rem
  .accordion__list
    display: grid
    align-items: flex-start
    grid-gap: 1.25rem
  .accordion__item
    border-radius: .25rem
    padding-bottom: 1.25rem
    @include background
    @include box-shadow_quarty
    &:not(:last-child)
      margin-bottom: .5rem
    &.accordion__item_active
      background: $colorWhite
      .accordion__header
        .accordion__ico
          background-color: $colorTertiary400
          img,
          svg
            fill: $colorPrimary500
            
            transform: rotate(180deg)

    .accordion__header
      padding: 1.875rem 2rem .75rem 2rem
      gap: 2rem
      display: flex
      align-items: center
      justify-content: space-between
      cursor: pointer
      @include transition
      @include mediaMinWidthTabletPort
        gap: 1rem

    .accordion__title
      display: flex
    .accordion__ico
      width: 1.5rem
      height: 1.5rem
      flex-shrink: 0
      border-radius: 50%
      background-color: $colorSecondary400
      display: flex
      justify-content: center
      align-items: center
      @include transition
      img,
      svg
        width: .75rem
        height: .5rem
        fill: $colorWhite
        transform: rotate(0deg)
        @include transition
    .accordion__main
      padding: 0 2rem
      display: none