// button
.btn
  border-radius: .25rem
  letter-spacing: .125rem
  font-weight: 900
  text-decoration: none
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  outline: none
  text-align: center
  text-transform: uppercase
  appearance: none
  position: relative
  @include transition
  &:hover
    text-decoration: none
  &:disabled
    border-color: $colorPrimary300
    background-color: $colorPrimary300
  
  &.btn_primary
    color: $colorWhite
    background-color: $colorSecondary400
    box-shadow: 0 .25rem 0 $colorSecondary500
    font-size: .875rem
    line-height: 1rem
    padding: 1.5rem
    @include mediaMinWidthTabletPort
      font-size: 1rem
      line-height: 1rem
      padding: 1.875rem 2.75rem
    &:hover
      &::before
        opacity: 1
        visibility: visible
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      opacity: 0
      visibility: hidden
      background: linear-gradient(170deg, rgba(255, 255, 255, 0) 0%,  rgba(255, 255, 255, 0.125) 40%, rgba(255, 255, 255, 0.25) 47%, rgba(255, 255, 255, 0.125) 60%,  rgba(255, 255, 255, 0) 100%)
      @include transition
      
    .btn__text
      position: relative
  &.btn_secondary
    color: $colorPrimary500
    background-color: $colorTertiary400
    font-size: .875rem
    line-height: 2rem
    padding: .875rem 1.4rem
    text-transform: uppercase
    @include box-shadow_tertiary
    &:hover
      color: $colorWhite
      background: $colorSecondary400
  &.btn_tertiary
    color: $colorPrimary500
    background-color: $colorWhite
    font-size: .75rem
    line-height: 2rem
    border-radius: .25rem
    padding: .45rem 1.5rem
    border: .125rem solid $colorTertiary400
    &:hover
      background-color: $colorTertiary400
  
  
  &.btn_quarty
    color: $colorPrimary500
    background-color: $colorTertiary400
    box-shadow: 0 .25rem 0 $colorTertiary500
    font-size: .875rem
    line-height: 1rem
    padding: 1.5rem
    @include mediaMinWidthTabletPort
      font-size: 1rem
      line-height: 1rem
      padding: 1.875rem 2.75rem
    &:hover
      &::before
        opacity: 1
        visibility: visible
    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      opacity: 0
      visibility: hidden
      background: linear-gradient(170deg, rgba(255, 255, 255, 0) 0%,  rgba(255, 255, 255, 0.125) 40%, rgba(255, 255, 255, 0.25) 47%, rgba(255, 255, 255, 0.125) 60%,  rgba(255, 255, 255, 0) 100%)
      @include transition 
  
  
  
  
  
  &.btn_large
    font-size: 1rem
    line-height: 2rem
    padding: .75rem 1.5rem
    @include mediaMinWidthTabletPort
      padding: 1.3rem 2.5rem
  &.btn_tiny
    font-size: .75rem
    line-height: 2rem
    padding: .6rem .75rem
  &.btn_circle
    .btn__ico
      display: none
    .btn__text
        display: block
    @include mediaMaxWidthTabletPort
      border-radius: 50%
      padding: 0
      width: 1.875rem
      height: 1.875rem
      .btn__ico
        width: .75rem
        height: .75rem
        display: block
      .btn__text
        display: none