
.form__label
  position: relative
// Иконка формы
.form__ico
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  background-color: $colorPrimary300
  width: 1.5rem
  height: 1.5rem
  border-radius: 50%
  top: 50%
  right: 1.25rem
  @include transform-y
  @include transition
  svg
    width: .75rem
    height: .75rem
    fill: $colorPrimary400
    @include transition


// Поле ввода
.form__input
  color: $colorPrimary500
  background-color: $colorWhite
  font-size: 1rem
  line-height: 1rem
  font-weight: 400
  font-family: $mainFont
  padding: 1.25rem 4rem 1.25rem 2rem
  width: 100%
  border-radius: .25rem
  border: .125rem solid $colorWhite
  margin: 0
  text-overflow: ellipsis
  box-sizing: border-box
  appearance: none
  outline: none
  @include transition
  // заблокированно
  &:disabled
    opacity: .5
  // ошибка
  &.error
    border-color: $colorTertiary400
  // подсказка
  &::placeholder
    opacity: 1
    color: $colorPrimary400
    @include transition
  // активное поле
  &:focus,
  &:hover
    border-color: $colorTertiary400
    &::placeholder
      opacity: 1
      color: $colorPrimary500
    & ~ .form__ico
      background-color: $colorTertiary400
      svg
        fill: $colorPrimary500

  // екстареа
  &.form__input_textarea
    width: 100%
    height: 6.875rem
    resize: none

  
// form__text
.form__text
  font-size: .8125rem
  line-height: 1.125rem
  display: block
  color: rgba(255,255,255,.7)
  @include mediaMinWidthTabletPort
    font-size: .875rem
    line-height: 1.125rem
  strong
    color: $colorWhite
  .btn
    width: 100%

// Стилизация чекбоксов и радиокнопок
.custom-check
  .custom-check__label
    position: relative
    display: flex
  .custom-check__input
    position: absolute
    opacity: 0
    // нажатое состояние
    &:checked ~ .custom-check__ico
      &.custom-check__ico_before
        opacity: 0

      &.custom-check__ico_after
        opacity: 1
    // заблокированное состояние
    &:disabled ~ .custom-check__text
      pointer-events: none
    // ошибка
    &.error ~ .custom-check__text
      color: $colorTertiary400
  // текст
  .custom-check__text
    font-size: .8755rem
    line-height: 1.2rem
    padding-left: 2rem
    font-weight: 500
    position: relative
    cursor: pointer
    display: flex
    align-items: center
    flex-wrap: wrap

  .custom-check__ico
    width: 1.25rem
    height: 1.25rem
    position: absolute
    top: 0
    left: 0
    transform: translateY(-.125rem)
    @include transition

    &.custom-check__ico_before
      opacity: 1

    &.custom-check__ico_after
      opacity: 0

  // checkbox
  input[type='checkbox']
    & ~ .custom-check__text
  // radio
  input[type='radio']
    & ~ .custom-check__text
      &:before,
      &:after
        border-radius: 50%


// Слайдер
.range
  .range__slider
    height: .125rem
    background-color: rgba(157,157,157,.3)
    border: 0 !important
    position: relative

    &:not(:last-child)
      margin-bottom: 1.125rem

    .ui-slider-range
      position: absolute
      z-index: 2
      display: block
      height: 100%
      background-color: $colorSecondary400
      &.ui-widget-header
        background-color: $colorSecondary500
    .ui-slider-handle
      position: absolute
      top: -.4em

      cursor: pointer
      -ms-touch-action: none
      touch-action: none
      width: 1.4rem
      height: 1rem
      border: 0
      z-index: 3
      background-image: url("../img/arrow_left.png")
      background-repeat: repeat
      background-position: center
      background-size: contain
      transform: translateX(-50%)
      & ~ .ui-slider-handle
        background-image: url("../img/arrow_right.png")



  .range__form
    font-weight: 500
    width: calc(100% + 1.5rem)
    margin: 0 -.75rem
    pointer-events: none
    display: flex
    position: relative
    &::before
      content: ""
      position: absolute
      height: .125rem
      width: .75rem
      top: 50%
      left: 50%
      background-color: $colorPrimary500
      @include transform
    .range__item
      padding: 0 .75rem
      display: flex
      align-items: center

  .range__form
    .jcf-number
      padding: 0
      width: 2rem

    .jcf-btn-dec,
    .jcf-btn-inc
      display: none
  .range__input
    font-size: 1rem
    line-height: 1rem
    font-weight: 500
    padding: .4rem 1rem
    border-radius: .25rem
    text-align: center
    font-family: $secondaryFont





// Стилизация скролла
::-webkit-scrollbar
  width: 0
  height: 0