// slider slider
.slick-slider
  position: relative
  width: auto
  height: 100%
  display: block!important
  cursor: grab
  &.slick-vertical
    .slick-track
      flex-direction: column
    .slick-slide
      display: block

  img
    display: block
    width: 100%
  .slick-track
    display: flex
  .slick-list
    overflow: hidden
  .slick-slide
    display: inline-block
    // height: 100%
    z-index: 2!important
    margin: 0
    min-height: 1px
    &.slick-current
      z-index: 3!important
// navigation
.slick-arrow
  position: absolute
  width: 2.5rem
  height: 2.5rem
  border-radius: 50%
  cursor: pointer
  z-index: 4
  top: 50%
  background-color: $colorTertiary400
  display: flex
  justify-content: center
  align-items: center
  @include transform
  @include transition
  @include mediaMinWidthTabletPort
    width: 5rem
    height: 5rem
  &:hover
    background-color: $colorSecondary400
  &.slick-prev
    left: 2.75rem
    @include mediaMinWidthTabletPort
      left: .75rem
  &.slick-next
    left: calc(100% - 2.75rem)
    @include mediaMinWidthTabletPort
      left: calc(100% - .75rem)
  &.slick-disabled
    opacity: .8
    pointer-events: none
  svg,
  img
    width: 1rem
    height: 1rem
    @include mediaMinWidthTabletPort
      width: 1.5rem
      height: 1.5rem
// pagination
.slick-dots
  display: flex
  justify-content: center
  margin: 0
  list-style: none
  position: absolute
  z-index: 3
  bottom: 0
  left: 0
  padding: 1rem
  width: 100%
  li
    margin: 0
    @include transition
    &:not(:last-child)
      margin-right: .25rem

    &.slick-active,
    &:hover
      button
        background-color: $colorWhite

    &:only-child
      display: none
  button
    text-indent: -9999px
    width: .5rem
    height: .5rem
    border-radius: 50%
    background-color: $colorPrimary400
    @include transition

.slick-loading .slick-slide
  visibility: hidden

