.tabs
  display: grid
  grid-gap: 2rem
  .tabs__header
    display: flex
    justify-content: flex-start
    overflow: hidden
    overflow-x: auto
    .tabs__list
      display: flex
      flex-wrap: wrap
    .tabs__item
      display: flex
  .tabs__title
    .title__text
      text-overflow: ellipsis
      display: block
      overflow: hidden
      cursor: pointer
      @include transition

  .tabs__main
    position: relative
    overflow: hidden
    .tabs__item
      width: 100%
      position: absolute
      left: -10rem
      top: 0
      opacity: 0
      visibility: hidden
      @include transition
      &.tabs__item_active
        position: relative
        visibility: visible
        opacity: 1
        left: 0



  &:not(.tabs_secondary)
    .tabs__header
      .tabs__list
        position: relative
        &::before
          content: ""
          width: 100%
          height: .25rem
          left: 0
          bottom: 0
          background-color: $colorPrimary300
          position: absolute
      .tabs__item
        position: relative
        &:hover,
        &.tabs__item_active
          &::before
            width: 100%
          .tabs__title
            .title__text
              opacity: 1
              color: $colorSecondary400
        &::before
          content: ""
          width: 0
          height: .25rem
          position: absolute
          left: 0
          bottom: 0
          background-color: $colorSecondary400
          @include transition
    .tabs__title
      .title__text
        color: $colorPrimary400
        padding: .75rem 1rem
        opacity: .5
        font-family: $secondaryFont
        text-transform: uppercase
        @include mediaMinWidthTabletPort
          padding: .75rem 2.5rem


  &.tabs_secondary
    @include mediaMinWidthTabletPort
      gap: 3rem
    .tabs__header
      .tabs__list
        grid-gap: .75rem
        @include mediaMinWidthTabletPort
          grid-gap: 1.25rem
      .tabs__item
        padding: 1rem 1rem
        border-radius: .25rem
        display: flex
        position: relative
        cursor: pointer
        border: .125rem solid transparent
        background-color: rgba(239,235,232,.5)
        @include transition
        @include mediaMinWidthTabletPort
            padding: 1.65rem 3rem
        &:hover,
        &.tabs__item_active
          border-color: $colorSecondary400
          background-color: transparent
      .tabs__title
        .title__text
          color: $colorPrimary500
          font-size: 1.125rem
          line-height: 1.25rem
          @include mediaMinWidthTabletPort
            font-size: 1.375rem
            line-height: 1.5rem
            font-weight: 800





























