// TAGS
.layout__tags
  .tags__list
    gap: .625rem
    display: grid
    grid-wrap: wrap
  .tags__text
    font-size: .875rem
    line-height: 1.125rem
    font-weight: 500
    padding: .5rem .75rem
    


