.wysiwyg
  display: grid
  align-items: flex-start
  &.wysiwyg_secondary
    p
      opacity: .7
  strong
    font-weight: 700
  p,
  ul,
  ol,
  h1,
  h2,
  h3,
  .h1,
   .h2,
   .h3
    &:not(:last-child)
      margin-bottom: 1.5rem
  h4,
  h5,
  h6,
  .h4,
  .h5,
  .h6


    &:not(:last-child)
      margin-bottom: .75rem
  ul
    list-style: none
    display: grid
    grid-gap: 1rem

    ul
      margin-left: 0
    li
      position: relative
      padding-left: 1.5rem
      &:before
        content: ""
        left: 0
        top: .5rem
        width: .375rem
        height: .375rem
        border-radius: 50%
        background-color: $colorSecondary400
        position: absolute
  ol
    list-style: decimal
  a
    color: $colorSecondary400
    position: relative
    white-space: nowrap
    text-decoration: none
    &:hover
      color: $colorSecondary500






















