// RESET
@font-face
  font-family: Muller
  font-display: auto
  font-weight: 300
  src: url(../fonts/MullerLight.eot)
  src: url(../fonts/MullerLight.eot) format("embedded-opentype")
  src: local("MullerLight"), url(../fonts/MullerLight.woff) format("woff"), url(../fonts/MullerLight.ttf) format("truetype")
@font-face
  font-family: Muller
  font-display: auto
  font-weight: 400
  src: url(../fonts/MullerRegular.eot)
  src: url(../fonts/MullerRegular.eot) format("embedded-opentype")
  src: local("MullerRegular"), url(../fonts/MullerRegular.woff) format("woff"), url(../fonts/MullerRegular.ttf) format("truetype")
@font-face
  font-family: Muller
  font-display: auto
  font-weight: 500
  src: url(../fonts/MullerMedium.eot)
  src: url(../fonts/MullerMedium.eot) format("embedded-opentype")
  src: local("MullerMedium"), url(../fonts/MullerMedium.woff) format("woff"), url(../fonts/MullerMedium.ttf) format("truetype")
@font-face
  font-family: Muller
  font-display: auto
  font-weight: 700
  src: url(../fonts/MullerBold.eot)
  src: url(../fonts/MullerBold.eot) format("embedded-opentype")
  src: local("MullerBold"), url(../fonts/MullerBold.woff) format("woff"), url(../fonts/MullerBold.ttf) format("truetype")
@font-face
  font-family: Muller
  font-display: auto
  font-weight: 800
  src: url(../fonts/MullerExtraBold.eot)
  src: url(../fonts/MullerExtraBold.eot) format("embedded-opentype")
  src: local("MullerExtraBold"), url(../fonts/MullerExtraBold.woff) format("woff"), url(../fonts/MullerExtraBold.ttf) format("truetype")
@font-face
  font-family: Muller
  font-display: auto
  font-weight: 900
  src: url(../fonts/MullerBlack.eot)
  src: url(../fonts/MullerBlack.eot) format("embedded-opentype")
  src: local("MullerBlack"), url(../fonts/MullerBlack.woff) format("woff"), url(../fonts/MullerBlack.ttf) format("truetype")



// RESET
html, body, div, span, applet, object, iframe,main,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  outline: none
  vertical-align: baseline
  box-sizing: border-box

main, article, aside, details, figcaption, figure,
footer, header, menu, nav, section
  display: block

html
  font: 400 4.44vw/1.5rem $mainFont
  @include mediaMinWidthTabletPort
    font-size: 1.15vw
  @include mediaMinWidthFullHdDesktop
    font-size: 16px
body
  color: $colorPrimary500
  background-color: $colorWhite
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none
html,
body
  min-height: 100%
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
  font-weight: 800
  
  a
    color: $colorPrimary500
    text-decoration: none
    &:hover
      color: $colorSecondary400
  strong
    color: $colorSecondary500
  i
    color: $colorSecondary400
  u
    color: $colorPrimary400
    opacity: .5
    text-decoration: none
    position: relative
    &::before
      content: ""
      position: absolute
      top: calc(100% - .5rem)
      left: 0
      width: 100%
      height: .125rem
      background-color: $colorPrimary400
h1,
.h1,
h2,
.h2
  font-weight: 700
  font-family: $secondaryFont
h1,
.h1
  font-size: 2.5rem
  line-height: 3rem
  @include mediaMinWidthTabletPort
    font-size: 4.125rem
    line-height: 5rem
h2,
.h2
  font-size: 1.875rem
  line-height: 2.25rem
  @include mediaMinWidthTabletPort
    font-size: 3rem
    line-height: 3.5rem
h3,
.h3
  font-size: 1.375rem
  line-height: 1.5rem
  @include mediaMinWidthTabletPort
    font-size: 1.875rem
    line-height: 2rem
h4,
.h4
  font-size: 1.375rem
  line-height: 1.5rem
  @include mediaMinWidthTabletPort
    font-size: 1.5rem
    line-height: 2rem
h5,
.h5
  font-size: 1.375rem
  line-height: 1.5rem
h6,
.h6
  font-size: 1rem
  line-height: 1.5rem
  @include mediaMinWidthTabletPort
    font-size: 1.375rem
    line-height: 1.5rem


img,
svg
  outline: none
  max-width: 100%
  max-height: 100%
  object-fit: cover
  height: auto

ul,
ol
  list-style: none
strong
  font-weight: 700
a
  text-decoration: none