// ABOUT
.layout__about
  display: grid
  align-items: flex-start
  grid-gap: 2rem
  @include mediaMinWidthTabletPort
    grid-template-columns: 1fr 1fr
    grid-gap: 3.25rem
.about__layout
  @include mediaMinWidthTabletPort
    padding-top: 1.5rem
.about__presentation
  border-radius: .25rem
  padding: 1.25rem
  background-color: $colorWhite
  display: grid
  align-items: flex-start
  grid-gap: 1rem
  @include box-shadow_secondary
  @include mediaMinWidthTabletPort
    padding: 2rem
    grid-gap: 1.5rem 2rem
    grid-template-columns: auto 15.75rem
  .presentation__header
    text-transform: uppercase
    @include mediaMinWidthTabletPort
      grid-column: span 2
  .presentation__title
    font-family: $secondaryFont
    font-size: 1.5rem
    line-height: 1.5rem
    font-weight: 800
    @include mediaMinWidthTabletPort
      font-size: 1.375rem
      line-height: 1.5rem
  .presentation__media
    display: flex
    align-items: flex-start
    .presentation__link
      position: relative
      cursor: pointer
      width: 100%
      border-radius: .25rem
      padding-top: 67.5%
      overflow: hidden
      display: flex
      &:hover
        .presentation__ico
          background-color: $colorSecondary500
    .presentation__ico
      width: 4.625rem
      height: 4.625rem
      border-radius: 50%
      background-color: $colorSecondary400
      display: flex
      justify-content: center
      align-items: center
      position: absolute
      top: 50%
      left: 50%
      @include transform
      @include transition
      svg
        width: 1.375rem
        height: 1.375rem
    .presentation__img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .presentation__main
    font-size: 1rem
    line-height: 1.25rem
    gap: 1rem
    display: flex
    flex-direction: column
  .presentation__subtitle
    font-weight: 700

.about__steps
  @include mediaMinWidthTabletPort
    grid-column: span 2
  .steps__list
    display: grid
    align-items: flex-start
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(4, 1fr)
  .steps__item
    display: grid
    align-items: flex-start
    grid-gap: .5rem
  .steps__header
    padding: 0 3.5rem
    position: relative
    &::before,
    &::after
      content: ""
      position: absolute
    &::before
      left: 1.5rem
      top: .25rem
      width: .625rem
      height: .625rem
      border-radius: 50%
      background-color: $colorSecondary400
    &::after
      right: 0
      top: .5rem
      width: calc(100% - 7rem)
      height: 1px
      opacity: .5
      background-color: $colorPrimary400
    .steps__index
      font-size: 1.375rem
      line-height: 1.375rem
      font-weight: 800
      font-family: $mainFont
  .steps__media
    width: 8.75rem
    height: 8.75rem
    display: flex
    align-items: flex-start
    position: relative
    &::before
      content: ""
      position: absolute
      top: 50%
      left: 50%
      width: 6.25rem
      height: 6.25rem
      border-radius: 50%
      background-color: $colorWhite
      @include transform
    img
      width: 100%
      height: 100%
      object-fit: contain
      position: relative
      z-index: 2
  .steps__main
    font-size: 1rem
    line-height: 1.25rem
    font-weight: 700


















