// ADVANTAGES
.layout__advantages
  .advantages__list
    display: grid
    justify-content: center
    grid-gap: .75rem
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 5.5rem
  .advantages__item
    display: grid
    align-items: center
    grid-template-columns: 5.75rem auto
    grid-gap: .75rem
    @include mediaMinWidthTabletPort
      grid-template-columns: 7.5rem auto
  .advantages__media
    width: 5.75rem
    height: 5.75rem
    display: flex
    justify-content: center
    align-items: center
    position: relative
    @include mediaMinWidthTabletPort
      width: 7.5rem
      height: 7.5rem
    &::before
      content: ""
      position: absolute
      top: 50%
      left: 50%
      width: 3.75rem
      height: 3.75rem
      border-radius: 50%
      background-color: $colorTertiary400
      @include transform
      @include mediaMinWidthTabletPort
        width: 5rem
        height: 5rem
    img
      position: relative
      z-index: 2
  .advantages__text
    font-family: $secondaryFont
    text-transform: uppercase




























