// ARTICLE
.layout__article
  display: grid
  grid-gap: 2rem
  @include mediaMinWidthTabletPort
    grid-gap: 1rem
    grid-template-columns: auto 25.875rem
  .article__list
    display: grid
    grid-gap: 1rem
  .article__item
    display: grid
    grid-gap: .875rem
    @include mediaMinWidthTabletPort
      grid-template-columns: 2rem auto
      grid-gap: 1.25rem
  .article__ico
    width: 2rem
    height: 2rem
  .article__text
    font-size: 1.125rem
    line-height: 1.5rem
    font-weight: 700
















