// ARTICLES
.layout__articles
  .articles__list
    display: flex
    flex-direction: column
    gap: 3rem
    @include mediaMinWidthTabletPort
      margin: 0 -.75rem
      width: calc(100% + 1.5rem)
    .slick-arrow
      @include mediaMinWidthTabletPort
        top: 28%
  .articles__item
    padding: 0 .75rem
    display: flex
    flex-direction: column
  .articles__link
    color: $colorPrimary500
    &:hover
      .articles__ico
        &::before
          width: 100%
      .articles__media
        img
          transform: scale(1.1)
      .articles__main
        h1,
        h2,
        h3,
        h4,
        h5,
        h6
          color: $colorSecondary500
  .articles__media
    border-radius: .25rem
    padding-top: 70%
    overflow: hidden
    position: relative
    &:not(:last-child)
      margin-bottom: .25rem
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      transform: scale(1)
      @include transition
  .articles__header
    border-bottom: 1px solid $colorPrimary300
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
    &:not(:last-child)
      margin-bottom: 1.5rem
      @include mediaMinWidthTabletPort
        margin-bottom: 2rem
  .articles__date
    color: $colorPrimary400
    font-size: 1rem
    line-height: 1.25rem
  .articles__ico
    padding: 1rem
    display: flex
    justify-content: center
    align-items: center
    @include mediaMinWidthTabletPort
      padding: 1rem 2rem
    &::before
      content: ""
      position: absolute
      width: 5.5rem
      height: .125rem
      right: 0
      top: 100%
      background-color: $colorSecondary400
      @include transition
    svg
      width: 1.5rem
      height: 1.5rem
  .articles__main
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      color: $colorPrimary500
      @include transition
