// BANNER
.layout__banner
    padding-top: 10rem
    @include background
    @include mediaMinWidthTabletPort
        padding-top: 0
    .container
        display: grid
        @include mediaMinWidthTabletPort
            grid-template-columns: 32rem auto
    .banner__layout
        height: 100%
        margin-bottom: -3.5rem
        display: flex
        flex-direction: column
        justify-content: center
        position: relative
        z-index: 2
        @include mediaMinWidthTabletPort
            min-height: 48.75rem
            margin-bottom: 0
    .banner__header
        display: flex
        flex-wrap: wrap
        align-items: center
        gap: 1rem 1.25rem
        &:not(:last-child)
            margin-bottom: 2rem
    .banner__tag
        color: $colorPrimary500
        background-color: $colorTertiary400
        font-size: 1rem
        line-height: 1.25rem
        font-weight: 700
        border-radius: .25rem
        padding: .25rem .75rem
        text-transform: uppercase
    .banner__location
        display: grid
        align-items: center
        grid-template-columns: 1rem auto
        grid-gap: .75rem
        .location__ico
            width: 1rem
            height: 1rem
        .location__text
            font-size: 1rem
            line-height: 1.25rem
            font-weight: 800
            text-transform: uppercase
    .banner__title
        width: 100%
        .banner__text
            font-size: 4.625rem
            line-height: 4.625rem
            text-transform: uppercase
            @include mediaMinWidthTabletPort
                font-size: 6.375rem
                line-height: 6.375rem


    .banner__main
        &:not(:last-child)
            margin-bottom: 2rem
            @include mediaMinWidthTabletPort
                margin-bottom: 4rem
    .banner__listing
        display: grid
        grid-gap: 1rem
    .listing__item
        display: grid
        grid-template-columns: 2rem auto
        grid-gap: 1.25rem
    .listing__ico
        width: 2rem
        height: 2rem
    .listing__text
        font-size: 1.375rem
        line-height: 2.5rem
        font-weight: 500
        @include mediaMinWidthTabletPort
            font-size: 1.875rem
            line-height: 2.5rem
    .banner__footer
        @include mediaMinWidthTabletPort
            display: flex
            justify-content: flex-start

    .banner__media
        margin: 0 -1.25rem
        width: calc(100% + 2.5rem)
        padding-top: 70%
        display: flex
        align-items: flex-start
        position: relative
        @include mediaMinWidthTabletPort
            margin: 0
            padding-top: 0
            width: auto
        img
            height: 100%
            width: 100%
            position: absolute
            top: 0
            left: 0
            @include mediaMinWidthTabletPort
                max-width: 100vw
                width: calc(50vw + 8.4rem)
                position: unset



































