// BOX
.layout__box
  .box__list
    display: grid
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
      grid-gap: 2.75rem
      grid-template-columns: repeat(3, 1fr)
    &.box__list_secondary
      @include mediaMinWidthTabletPort
        .box__item
          grid-template-columns: 5rem auto
          grid-gap: 1.25rem
        .box__layout
            padding: 1.25rem 0
  .box__item
    display: grid
    grid-gap: 1.25rem
    grid-template-columns: 5rem auto
    align-items: flex-start
    @include mediaMinWidthTabletPort
      grid-template-columns: 1fr
      grid-gap: 2rem
      
  .box__media
    width: 5rem
    height: 5rem
    padding: 1.25rem
    border-radius: 50%
    background-color: $colorSecondary400
    display: flex
    justify-content: center
    align-items: center
    img,
    svg
      width: 2.5rem
      height: 2.5rem
  .box__layout
    display: grid
    grid-gap: .875rem
    @include mediaMinWidthTabletPort
      grid-gap: 1.25rem
  .box__title
    font-family: $secondaryFont
    text-transform: uppercase

  .box__main
    font-size: .875rem
    line-height: 1rem
    @include mediaMinWidthTabletPort
      font-size: 1rem
      line-height: 1.25rem


