// CALCULATOR
.layout__calculator
  color: $colorWhite
  margin: 0 -1.25rem
  width: calc(100% + 2.5rem)
  padding: 3rem 1.25rem 5rem
  position: relative
  background: linear-gradient(to bottom,  #298443 0%,#298443 50%,#15702f 100%)
  @include mediaMinWidthTabletPort
    width: 100%
    margin: 0
    padding: 0
    background: unset
  a
    color: $colorWhite
  .calculator__header
    color: $colorWhite
    display: grid
    grid-gap: 2rem
    @include mediaMinWidthTabletPort
      border-radius: 15rem 500rem 0 0
      padding: 3rem 5rem
      grid-gap: 3rem
      background: linear-gradient(to right,  #298443 0%,#298443 50%,#15702f 100%)
      overflow: hidden
    .calculator__title
      max-width: 34.5rem
      text-transform: uppercase
    .calculator__data
      .data__list
        gap: .875rem
        display: flex
        flex-direction: column
        flex-wrap: wrap
        @include mediaMinWidthTabletPort
          gap: 2.5rem
          flex-direction: row
      .data__item
        display: grid
        align-items: center
        grid-template-columns: 2.5rem auto
        grid-gap: 1.25rem

      .data__ico
        width: 2.5rem
        height: 2.5rem
      .data__text
        font-size: 1rem
        line-height: 1.125rem
        font-weight: 700
        br
          display: none
          @include mediaMinWidthTabletPort
            display: block
    .calculator__media
      margin: 0 -1.25rem
      display: flex
      align-items: flex-start
      @include mediaMinWidthTabletPort
        position: absolute
        width: 64rem
        height: 44.375rem
        left: calc(100% - 40rem)
        top: -6rem
        margin: 0
        z-index: 1
      img
        width: 100%
        height: 100%
        object-fit: contain
  .calculator__main
    border-radius: 0 0 .5rem .5rem
    overflow: hidden
    @include mediaMinWidthTabletPort
      padding: 3.25rem 4.5rem 5rem
      background-color: $colorSecondary300
    .calculator__media
      width: 20rem
      bottom: -3rem
      left: 0
      display: flex
      align-items: flex-start
      position: absolute
      @include mediaMinWidthTabletPort

        left: auto
        bottom: 10rem
        width: 31rem
        right: calc(100% - 6rem)
      img
        width: 100%
        height: 100%
        object-fit: contain
  .calculator__formular
    display: grid
    grid-gap: 1rem
    position: relative
    z-index: 2
    @include mediaMinWidthTabletPort
      grid-gap: 1.25rem
    .formular__title
      font-size: 1.5rem
      line-height: 2rem
      font-family: $mainFont
      @include mediaMinWidthTabletPort
        font-size: 1.875rem
        line-height: 2.5rem
    .formular__form
      display: grid
      grid-gap: 1rem
      @include mediaMinWidthTabletPort
        grid-template-columns: 20rem 20rem 12.25rem auto
        grid-gap: 1.5rem
        align-items: center