// CATALOG
.layout__catalog
    .catalog__list
        display: grid
        grid-gap: 1.25rem
        @include mediaMinWidthTabletPort
            grid-gap: 1.5rem
            grid-template-columns: repeat(4, 1fr)
    .catalog__link
        position: relative
        &:hover
            .catalog__media
                
                &::before
                    opacity: .75
                &::after
                    transform: translateY(100%)
            .catalog__text
                color: $colorTertiary400

    .catalog__media
        position: relative
        padding-top: 71%
        border-radius: .25rem
        overflow: hidden
        &::before,
        &::after
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            z-index: 2
            @include transition
        &::before
            background-color: $colorPrimary500
            opacity: 0
        &::after
            background: linear-gradient(to bottom,  rgba(37,36,34,0) 0%,rgba(37,36,34,0) 50%,rgba(37,36,34,0.5) 75%,rgba(37,36,34,1) 100%)
            transform: translateY(0)
        img
            top: 0
            left: 0
            width: 100%
            height: 100%
            position: absolute
    .catalog__title
        position: absolute
        bottom: 0
        left: 2rem
        bottom: 1.5rem
        z-index: 3
        @include mediaMinWidthTabletPort
            left: 2.5rem
            right: 2.5rem
            bottom: 2.5rem
    .catalog__text
        color: $colorWhite
        font-size: 1.25rem
        line-height: 1.25rem
        font-weight: 800
        white-space: nowrap
        position: relative
        @include transition
        &::after
            content: ""
            position: absolute
            top: 100%
            left: 0
            width: 100%
            height: .125rem
            background-color: $colorTertiary400
    .catalog__item
        &:nth-child(7n + 1)
            @include mediaMinWidthTabletPort
                grid-column: span 2
                grid-row: span 2
                .catalog__media
                    padding-top: 72%
                .catalog__title
                    left: 5rem
                    right: 5rem
                    bottom: 3.5rem
                    .catalog__text
                        font-size: 1.875rem
                        line-height: 2.5rem


