// CERTIFICATES
.layout__certificates
  display: flex
  flex-direction: column
  padding: 3.75rem 0
  gap: 2rem
  @include backgroundBefore
  @include mediaMinWidthTabletPort
    flex-direction: row
    align-items: flex-start
    padding: 7rem 0
    gap: 6.875rem
  
  .slick-arrow
    &.slick-prev
      left: .75rem
    &.slick-next
      left: calc(100% - .75rem)
  .certificates__carousel
    @include mediaMinWidthTabletPort
      width: calc(100% - 34.375rem)
  .certificates__list
    @include mediaMinWidthTabletPort
      margin: 0 -.75rem
      width: calc(100% + 1.5rem)
  .certificates__item
    padding: 0 .75rem
  .certificates__layout
    display: grid
    grid-gap: 2rem
    @include mediaMinWidthTabletPort
      width: 27.5rem
      grid-gap: 3rem
  .certificates__header
    text-align: center
    @include mediaMinWidthTabletPort
      text-align: left
  .certificates__title
    text-transform: uppercase
  .certificates__link
    width: 100%
    padding-top: 140%
    border-radius: .25rem
    overflow: hidden
    position: relative
    display: flex
    @include box-shadow
    &:hover
      img
        transform: scale(1.1)
      .certificates__zoom
        background-color: $colorSecondary500
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      transform: scale(1)
      @include transition
  .certificates__zoom
    width: 3.25rem
    height: 3.25rem
    border-radius: .25rem 0 0 0
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    right: 0
    bottom: 0
    background-color: $colorSecondary400
    @include transition
    img,
    svg
      width: 1.25rem
      height: 1.25rem













