// COMPARISONS
.layout__comparisons
  display: grid
  align-items: flex-start
  grid-gap: 2rem
  @include mediaMinWidthTabletPort
    grid-gap: 7.75rem
    grid-template-columns: 25rem auto
  .comparisons__layout
    display: grid
    align-items: flex-start
    grid-gap: 3.25rem
  .comparisons__list
    display: grid
    align-items: flex-start
    grid-gap: 1.5rem
  .comparisons__item
    display: grid
    align-items: flex-start
    grid-gap: .75rem
  .comparison__header
    grid-gap: .75rem
    display: flex
    align-items: center
    @include mediaMinWidthTabletPort
      grid-gap: 1.5rem
  .comparison__index,
  .comparison__title
    font-weight: 800
    font-family: $mainFont
  .comparison__index
    color: $colorSecondary400
  .comparison__main
    opacity: .7
  .comparisons__footer
    @include mediaMinWidthTabletPort
      display: flex
      justify-content: flex-start
  .comparisons__media
    padding-top: 65%
    margin: 0 -1.25rem
    width: calc(100% + 2.5rem)
    order: -1
    overflow: hidden
    position: relative
    @include mediaMinWidthTabletPort
      height: 100%
      padding-top: 0
      border-radius: .25rem
      margin: 0
      width: calc(100% + 20rem)
      order: unset
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%







