// CONSULTATION
.layout__consultation
  display: grid
  align-items: flex-start
  @include mediaMinWidthTabletPort
    grid-template-columns: 44.25rem auto
    grid-gap: 4rem
  .consultation__background
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    display: flex
    align-items: flex-end
    img
      width: 200vw
      max-width: 200vw
      object-fit: contain
      @include mediaMinWidthTabletPort
        max-width: 100%
  .consultation__media
    padding-top: 100%
    width: 11rem
    position: absolute
    right: 0
    bottom: 1rem
    @include mediaMinWidthTabletPort
      width: 100%
      position: relative
      bottom: -3.4rem
      left: 0
    img
      top: 0
      right: 0
      width: 100%
      height: 100%
      position: absolute
      object-fit: contain
      @include mediaMinWidthTabletPort
        width: 53.125rem
        max-width: 100vw
  .consultation__layout
    display: grid
    align-items: flex-start
    grid-gap: 2rem
    position: relative
    z-index: 2
    @include mediaMinWidthTabletPort
      grid-gap: 3.5rem
  .consultation__header
    display: flex
    flex-direction: column
    align-items: flex-start
    grid-gap: 2rem
    .consultation__title
      text-transform: uppercase
    .consultation__tag
      color: $colorPrimary500
      background-color: $colorTertiary400
      font-size: 1rem
      line-height: 1.25rem
      font-weight: 700
      border-radius: .25rem
      padding: .5rem .75rem .25rem
      text-transform: uppercase
      @include mediaMinWidthTabletPort
        padding: .25rem .75rem

  .consultation__main 
    font-size: 1.375rem
    line-height: 1.5rem
    font-weight: 500
    max-width: 12.5rem
    display: grid
    align-items: flex-start
    grid-gap: 1rem
    @include mediaMinWidthTabletPort
      font-size: 1.875rem
      line-height: 2.5rem
      font-weight: 500
      max-width: 100%
      grid-gap: 2rem
  .consultation__subtitle
    .subtitle__text
      font-weight: 800
  .consultation__list
    display: grid
    grid-gap: 1.5rem
    .consultation__item
      display: flex
      flex-direction: column
      gap: .75rem
      @include mediaMinWidthMobile
        gap: 1.25rem
        flex-direction: row
        align-items: flex-start
    .consultation__ico
      width: 2rem
      height: 2rem
      flex-shrink: 0

  

