// CONTACT
.layout__contact
    display: grid
    grid-gap: 2rem
    @include mediaMinWidthTabletPort
        grid-template-columns:  auto 23.25rem
        grid-gap: 2.5rem 4rem
    .contact__data
        @include mediaMinWidthTabletPort
            grid-column: span 2
        .data__list
            display: grid
            align-items: flex-start
            grid-gap: 2rem
            @include mediaMinWidthTabletPort
                grid-gap: 4rem
                grid-template-columns: 14.5rem 14.25rem 16.5rem 23.25rem
        .data__item
            color: $colorPrimary500
            display: grid
            gap: 1.5rem
        .data__media
            width: 4rem
            height: 4rem
            border-radius: 50%
            background-color: $colorTertiary400
            display: flex
            justify-content: center
            align-items: center
            @include mediaMinWidthTabletPort
                width: 5rem
                height: 5rem
        .data__ico
            width: 1.5rem
            height: 1.5rem
            fill: $colorPrimary500
        .data__main
            display: grid
            justify-content: flex-start
            gap: .75rem
        .data__title
            color: $colorPrimary500
            font-size: 1.125rem
            line-height: 1.5rem
            font-weight: 500
            opacity: .7
        .data__text
            color: $colorPrimary500
            font-size: 1.5rem
            line-height: 2rem
        .data__subtext
            color: $colorPrimary500
            font-size: 1.25rem
            line-height: 2rem
        a
            position: relative
            &:hover
                &::after
                    width: 0
            &::after
                content: ""
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                border-top: 1px dashed $colorSecondary600
                @include transition
        strong
            font-weight: 600
    .contact__layout
        gap: 2rem
        display: flex
        flex-direction: column
        justify-content: flex-start
        @include mediaMinWidthTabletPort
            padding: .75rem 0
    .contact__list
        gap: 1.25rem
        display: flex
        flex-direction: column
    .contact__item
        gap: .25rem
        display: flex
        flex-direction: column
        @include mediaMinWidthTabletPort
            font-size: 1.125rem
            line-height: 1.5rem
    .contact__key
        opacity: .7
    .contact__value
        font-weight: 500
    .contact__map
        position: relative
        padding-top: 85%
        @include mediaMinWidthTabletPort
            min-height: 100%
            padding-top: 50%
        .map__iframe
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            border-radius: .5rem
            overflow: hidden
            @include mediaMinWidthTabletPort
                border-radius: 0 .5rem .5rem 0
                height: 100%
                left: calc((-100vw + 80.75rem)/2)
                width: calc(100% + (100vw - 80.75rem)/2)

                

