// DESIGN
.layout__design
  .design__list
    display: grid
    grid-gap: 1.5rem .75rem
    grid-template-columns: repeat(2, 1fr)
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(4, 1fr)
      grid-gap: 3.5rem 1.5rem
  .design__item
  .design__link
    grid-gap: .75rem
    display: grid
    align-items: flex-start
    @include mediaMinWidthTabletPort
      grid-gap: 1.5rem
    &:hover
      .design__media
        img
          transform: scale(1.1)
      .design__ico
        circle
          fill: $colorSecondary400
        path
          fill: $colorWhite
      .design__title
        color: $colorSecondary400

  .design__media
    padding-top: 70%
    border-radius: .25rem
    overflow: hidden
    position: relative
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      transform: scale(1)
      @include transition
  .design__main
    display: flex
    align-items: center
    gap: .75rem
    @include mediaMinWidthTabletPort
      gap: 1rem
  .design__ico
    width: 1.25rem
    height: 1.25rem
    flex-shrink: 0
    transform: translateY(-.125rem)
    @include mediaMinWidthTabletPort
      width: 1.5rem
      height: 1.5rem
    circle
      fill: $colorPrimary300
      @include transition
    path
      fill: $colorPrimary400
      @include transition
  .design__title
    color: $colorPrimary500
    font-family: $mainFont
    font-weight: 800
    @include transition


















