// FAQ
.layout__faq
  display: grid
  grid-gap: 1.25rem
  margin: 0 -1.25rem
  width: calc(100% + 2.5rem)
  @include mediaMinWidthTabletPort
    width: auto
    margin: 0
  &:not(.layout__faq_secondary)
    @include mediaMinWidthTabletPort
      padding-bottom: 3rem
      grid-template-columns: 46.75rem auto
  &.layout__faq_secondary
    .faq__item
      box-shadow: none
    .faq__main
      background-color: rgba(239,235,232,.5)
      @include mediaMinWidthTabletPort
        padding: 2rem
  .faq__background
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 20rem
    display: flex
    align-items: flex-start
    z-index: -1
    @include mediaMinWidthTabletPort
      height: 100%
      top: auto
      bottom: 0
      align-items: flex-end
    img
      width: auto
      height: auto
      max-height: unset
      width: 100%
      max-width: unset
  .faq__media
    @include mediaMinWidthTabletPort
      position: relative
      z-index: 2
    img
      width: 9.5rem
      max-width: 9.5rem
      height: 9.5rem
      position: absolute
      right: 0
      top: .5rem
      object-fit: contain
      @include mediaMinWidthTabletPort
        width: 30rem
        max-width: 30rem
        height: auto
        max-height: 100vh
        left: 2rem
        right: auto
        top: auto
        bottom: -9.25rem
  .faq__layout
    position: relative
    z-index: 3
  .faq__list
    display: grid
    grid-gap: 1.25rem
  .faq__item
    background-color: $colorWhite
    overflow: hidden
    display: flex
    @include box-shadow-secondary
    @include mediaMinWidthTabletPort
      border-radius: .25rem
  .faq__header
    height: 100%
    font-size: 1.625rem
    line-height: 1.5rem
    width: 2.5rem
    font-weight: 700
    flex-shrink: 0
    color: $colorWhite
    background-color: $colorSecondary500
    display: flex
    justify-content: center
    align-items: center
    @include mediaMinWidthTabletPort
      width: 3.75rem
  .faq__main
    padding: 1.25rem
    width: 100%
    @include mediaMinWidthTabletPort
      padding: 3rem




























