// PORTFOLIO
.layout__portfolio
  .portfolio__list
    margin: 0 -2rem
    width: calc(100% + 4rem)
    @include mediaMinWidthTabletPort
      margin: 0 -.75rem
      width: calc(100% + 1.5rem)
  .portfolio__item
    padding: 0 .75rem

  .portfolio__link
    padding-top: 75%
    width: 100%
    display: flex
    position: relative
    overflow: hidden
    @include mediaMinWidthTabletPort
      border-radius: .75rem
    &:hover
      img
        transform: scale(1.1)
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      transform: scale(1)
      @include transition