// PRODUCTION
.production
  display: flex
  flex-direction: column
  grid-gap: 2rem
  @include mediaMinWidthTabletPort
    grid-gap: 4rem
  .production__list
    display: grid
    grid-gap: 2rem
    @include mediaMinWidthTabletPort
      grid-template-columns: minmax(26rem, 26rem) minmax(20rem, 25rem) minmax(22.5rem, 25rem)
      grid-gap: 4.75rem
    .production__item
      gap: 1.25rem
      display: flex
      align-items: center
      &:not(.production__item_secondary)
        .production__ico
          width: 5rem
          height: 5rem
        .production__text
          font-family: $secondaryFont
          text-transform: uppercase
        .production__media
          width: 5rem
          height: 5rem
          display: flex
          flex-shrink: 0
          justify-content: center
          align-items: center
          position: relative
          &::before
            content: ""
            position: absolute
            top: 50%
            left: 50%
            width: 4.5rem
            height: 4.5rem
            border-radius: 50%
            background-color: $colorPrimary300
            @include transform
          img
            position: relative
            z-index: 2
      &.production__item_secondary
        align-items: flex-start
        .production__media
          width: 2rem
          height: 1.5rem
          flex-shrink: 0
        .production__text
          font-weight: 500
          font-family: $mainFont
    



  .production__carousel
    margin: 0 -2rem
    width: calc(100% + 4rem)
    @include mediaMinWidthTabletPort
      margin: 0 -.75rem
      width: calc(100% + 1.5rem)
    .production__item
      padding: 0 .75rem
    .production__link
      padding-top: 70%
      width: 100%
      display: flex
      position: relative
      overflow: hidden
      @include mediaMinWidthTabletPort
        border-radius: .75rem
      img
        width: 100%
        height: 100%
        top: 0
        left: 0
        position: absolute
  .production__footer
    display: flex
    justify-content: center
    text-align: center
    .production__text
      font-size: 1.25rem
      line-height: 1.5rem
      font-weight: 800
      @include mediaMinWidthTabletPort
        font-size: 1.5rem
        line-height: 1.75rem
      &:before,
      &::after
        color: $colorSecondary400
        padding: 0 .5rem
      &::before
        content: "«"
      &::after
        content: "»"