// PRODUCT


.layout__product
  display: flex
  flex-direction: column
  align-items: flex-start
  grid-gap: 3rem
  @include mediaMinWidthTabletPort
    flex-direction: row
.product__media
  width: 100%
  display: flex
  gap: .5rem
  width: calc(100vw - 2.5rem)
  align-items: flex-start
  @include mediaMinWidthTabletPort
    margin: -.25rem 0
    width: 51.5rem
    gap: 1.5rem
    @include mediaMinWidthTabletPort
      margin: -.75rem 0
  .product__slider
    &.product__slider_primary
      width: calc(100% - 5rem)
      @include mediaMinWidthTabletPort
        width: calc(100% - 18rem)
      .slider__media
        padding-top: 100%
        border-radius: .5rem
        img,
        svg
          left: auto
          right: 0

    &.product__slider_secondary
      width: 5rem
      @include mediaMinWidthTabletPort
        width: 14.5rem
      .slider__item
        &.slick-current
          .slider__media
            &::before
              border-color: $colorTertiary400
      .slider__media
        padding-top: 105%
        border-radius: .25rem
        position: relative
        cursor: pointer
        @include mediaMinWidthTabletPort
          padding-top: 70%
        &::before
          content: ""
          position: absolute
          top: 0
          left: 0
          width: calc(100% - .5rem)
          height: calc(100% - .5rem)
          border: 0.25rem solid transparent
          z-index: 2
          @include transition
  .slider__media
    margin: .25rem 0
    overflow: hidden
    position: relative
    @include mediaMinWidthTabletPort
      margin: .75rem 0
    img,
    svg
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
  .slick-arrow
    width: 1.5rem
    height: 1.5rem
    background-color: transparent
    transform: none
    &.slick-disabled
      opacity: .5
    &.slick-prev
      top: 0
      left: 50%
      transform: translate(-50%, -75%)
      @include mediaMinWidthTabletPort
        transform: translate(-50%, calc(-100% - .5rem))
    &.slick-next
      top: 100%
      left: 50%
      transform: translate(-50%, -25%)
      @include mediaMinWidthTabletPort
        transform: translate(-50%, calc(100% - 1rem))
.product__layout
  grid-gap: 2rem
  width: 100%
  display: grid
  align-items: flex-start
.product__reviews
  display: flex
  gap: 1rem
  .reviews__rating
    .rating__list
      display: flex
      gap: .25rem
    .rating__item
      width: 1.125rem
      height: 1.125rem
      display: flex
      align-items: flex-start
    .rating__ico
      width: 100%
      height: 100%
  .reviews__title
    color: $colorPrimary500
    opacity: .7
    font-size: 1rem
    line-height: 1.5rem
  
.product__description
  display: grid
  grid-gap: 1.5rem
  .description__main
    display: grid
    grid-gap: .75rem
  dl
    font-size: .875rem
    line-height: 1rem
    display: flex
    justify-content: space-between
    position: relative
    @include mediaMinWidthTabletPort
      font-size: 1.125rem
      line-height: 1.5rem
    &::after
      content: ""
      width: 100%
      border-top: 1px dotted $colorPrimary300
      position: absolute
      left: 0
      top: .875rem
      z-index: -1
      @include mediaMinWidthTabletPort
        top: 1rem
  dt,
  dd
    background-color: $colorWhite
  dt
    opacity: .7
    padding-right: .5rem
  dd
    max-width: 14.75rem
    text-align: right
    padding-left: .5rem
    font-weight: 500

.product__price
  display: flex
  align-items: flex-end
  gap: .75rem
  .price__text
    font-family: $secondaryFont
    &.price__text_primary
      font-size: 2.25rem
      line-height: 2.25rem
      font-weight: 700
      
    &.price__text_secondary
      color: $colorPrimary400
      font-size: 1.5rem
      line-height: 1.5rem

.product__action
  display: grid
  grid-gap: .875rem
  @include mediaMinWidthTabletPort
    justify-content: flex-start

.product__call
  .call__link
    grid-gap: .75rem
    display: flex
    align-items: center
    &:hover
      .call__text
        color: $colorSecondary400
  .call__ico
    height: 3.75rem
    display: flex
    align-items: flex-start
  .call__text
    color: $colorPrimary500
    font-size: 1.125rem
    line-height: 1.5rem
    font-weight: 700
    border-bottom: .125rem dotted $colorSecondary400
    @include transition












