// PRODUCTS
.layout__products
  .products__list
    display: grid
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
      grid-gap: 2.5rem 1.5rem
      grid-template-columns: repeat(3,1fr)
    &.products__list_secondary
      @include mediaMinWidthTabletPort
        .products__layout
          padding: 2rem 0
        .products__header
          gap: .75rem
        .products__title
          font-size: 1.375rem
          line-height: 1.5rem
        .products__price
          font-size: 1.5rem
          line-height: 1.5rem
        .products__subprice
          font-size: 1.125rem
          line-height: 1.125rem
          font-weight: 400
          color: $colorPrimary400
          text-transform: none
        dl
          font-size: .875rem
          line-height: 1rem
          &::after
            top: .875rem
    &.products__list_carousel
      margin: 0 -1.25rem
      .products__slide
        .products__item
          padding: .25rem .75rem
  .products__item
    height: 100%
    display: flex
    flex-direction: column
    gap: 1.5rem
    @include mediaMinWidthTabletPort
      gap: unset
  .products__media
    .products__link
      padding-top: 70%
      border-radius: .25rem
      width: 100%
      display: flex
      overflow: hidden
      position: relative
      &:hover
        img
          transform: scale(1.1)
          
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      transform: scale(1)
      @include transition
  .products__layout
    height: 100%
    display: flex
    flex-direction: column
    @include mediaMinWidthTabletPort
      padding: 2rem 1.25rem
  .products__header
    display: grid
    grid-gap: .25rem
    &:not(:last-child)
      margin-bottom: 1rem
      @include mediaMinWidthTabletPort
        margin-bottom: .75rem
  .products__title
    color: $colorPrimary500
    min-height: 3rem
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    overflow: hidden
    text-decoration: none
    @include transition
    @include mediaMinWidthTabletPort
      min-height: 4rem
    &:hover
      color: $colorSecondary500
  .products__price
    font-size: 1.5rem
    line-height: 2rem
    font-weight: 700
    font-family: $secondaryFont
    color: $colorSecondary400
    @include mediaMinWidthTabletPort
      font-size: 2.125rem
      line-height: 3.5rem
  .products__main
    display: grid
    margin-top: auto
    grid-gap: .75rem
    &:not(:last-child)
      margin-bottom: 1.375rem
      @include mediaMinWidthTabletPort
        margin-bottom: 2rem
  dl
    font-size: .875rem
    line-height: 1rem
    display: flex
    justify-content: space-between
    position: relative
    @include mediaMinWidthTabletPort
      font-size: 1rem
      line-height: 1.5rem
    &::after
      content: ""
      width: 100%
      border-top: 1px dotted $colorPrimary300
      position: absolute
      left: 0
      top: .875rem
      z-index: -1
      @include mediaMinWidthTabletPort
        top: 1rem
  dt,
  dd
    background-color: $colorWhite
  dt
    opacity: .7
    padding-right: .5rem
  dd
    max-width: 13.75rem
    text-align: right
    padding-left: .5rem
    font-weight: 500



























