// SCHEME
.layout__scheme
  .scheme__list
    display: grid
    align-items: flex-start
    grid-gap: .75rem
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 4rem 2rem
    &.scheme__list_secondary
      @include mediaMinWidthTabletPort
        grid-template-columns: repeat(5, 1fr)
        grid-gap: 2rem 2.75rem
  .scheme__item
    display: grid
    grid-template-columns: 6.25rem auto
    align-items: center
    position: relative
    grid-gap: 1.25rem
    @include mediaMinWidthTabletPort
      grid-template-columns: 1fr
      grid-gap: 1.5rem
      align-items: flex-start
  .scheme__media
    width: 6.25rem
    height: 6.25rem
    display: flex
    align-items: flex-start
    position: relative
    &::before
      position: absolute
      top: 50%
      left: 50%
      width: 5.5rem
      height: 5.5rem
      border-radius: 50%
      background-color: $colorPrimary100
    img,
    svg
      position: relative
      z-index: 2
      width: 100%
      height: 100%
  .scheme__count
    position: absolute
    top: 0
    left: 0
    width: 2.5rem
    height: 2.5rem
    border-radius: 50%
    background-color: $colorTertiary400
    z-index: 3
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    .count__text
      font-size: 1.25rem
      line-height: 1.25rem
      font-weight: 800
  .scheme__text
    text-transform: uppercase
    font-family: $secondaryFont






