// SERVICES
.layout__services
  margin: 0 -1.25rem
  width: calc(100% + 2.5rem)
  @include mediaMinWidthTabletPort
    margin: 0
    width: 100%
  .services__list
    display: grid
    grid-gap: 2.5rem
    @include mediaMinWidthTabletPort
      grid-gap: 5rem
  .services__item
    position: relative
    &.services__item_secondary
      .services__wrap
        padding-bottom: 10rem
        @include mediaMinWidthTabletPort
          padding: 3.75rem 14.5rem 2.5rem 3.75rem
  .services__wrap
    padding: 2rem 1.25rem
    border-radius: 0
    display: grid
    align-items: flex-start
    grid-gap: 2rem
    @include background
    @include mediaMinWidthTabletPort
      grid-gap: 2.5rem
      border-radius: .75rem
      grid-template-columns: 8.75rem auto
      padding: 3.75rem 14.5rem 2.5rem 3.75rem
  .services__images
    width: 16.5rem
    height: 16.5rem
    position: absolute
    display: flex
    align-items: flex-start
    top: 100%
    left: 100%
    transform: translate(-100%, -75%)
    @include mediaMinWidthTabletPort
      width: 31.25rem
      height: 29.25rem
      top: 100%
      left: 0
      transform: translate(-50%, -75%)
    img,
    svg
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      object-fit: contain
  .services__media
    width: 8.75rem
    display: flex
    align-items: flex-start
    img,
    svg
      width: 100%
      height: 100%
  .services__layout
    display: grid
    align-items: flex-start
    grid-gap: 1.5rem
    @include mediaMinWidthTabletPort
      padding: 2rem 0
      grid-gap: 2.5rem
  .services__header
    text-transform: uppercase
  .services__main
    display: grid
    grid-gap: 2.5rem
// services__description
.services__description
  .description__main
    font-size: 1.125rem
    line-height: 1.5rem

// services__include
.services__include
  display: flex
  flex-direction: column
  align-items: flex-start
  grid-gap: .75rem
  .include__header
    &:not(:last-child)
      margin-bottom: 1rem
  .include__main
    &:not(:last-child)
      margin-bottom: 1.25rem
      @include mediaMinWidthTabletPort
        margin-bottom: 2rem
  .included__list
    display: grid
    grid-gap: .75rem
  .included__item
    display: grid
    align-items: flex-start
    grid-template-columns: 2rem auto
    grid-gap: 1.25rem

  .included__ico
    width: 2rem
    height: 2rem
    transform: translateY(-.25rem)
  .included__text
    font-size: 1.125rem
    line-height: 1.5rem
    font-weight: 700
  
// services__price
.services__price
  display: flex
  flex-direction: column
  align-items: flex-start
  grid-gap: .75rem
  .price__header
    &:not(:last-child)
      margin-bottom: 1rem
  .price__main
    width: 100%
    &:not(:last-child)
      margin-bottom: 1.25rem
      @include mediaMinWidthTabletPort
        margin-bottom: 2rem
  .price__list
    display: grid
    grid-gap: 1rem
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 1.5rem
  .price__item
    display: flex
    align-items: center
    justify-content: flex-start
    border-radius: .25rem
    padding: 1.25rem 2.75rem 1.25rem 1.25rem
    background-color: $colorWhite
    gap: 1.25rem
    @include box-shadow_tertiary
    @include mediaMinWidthTabletPort
      padding: 1.125rem 4.25rem 1.125rem 3.25rem
  .price__value
    color: $colorSecondary400
    font-size: 2.125rem
    line-height: 2.125rem
    font-weight: 700
    font-family: $secondaryFont
    white-space: nowrap
    text-transform: uppercase
  .price__text
    font-size: 1rem
    line-height: 1.25rem
    @include mediaMinWidthTabletPort
      font-size: 1.125rem
      line-height: 1.5rem

// services__regions
.services__regions
  display: flex
  flex-direction: column
  align-items: flex-start
  .regions__header
    &:not(:last-child)
      margin-bottom: 1.25rem
      @include mediaMinWidthTabletPort
        margin-bottom: 2rem
  .regions__main
    width: 100%
    &:not(:last-child)
        margin-bottom: 1.25rem
        @include mediaMinWidthTabletPort
          margin-bottom: 2rem
  .regions__list
    display: grid
    grid-gap: .75rem
    @include mediaMinWidthTabletPort
      grid-template-columns: repeat(2, 1fr)
      grid-gap: .625rem 1.5rem
  .regions__item
    display: flex
    align-items: center
    border-radius: .25rem
    border: .1875rem solid $colorSecondary400
    padding: 1.125rem 2rem 1.125rem 2rem
    gap: 1.375rem
    @include mediaMinWidthTabletPort
      padding-left: 3.5rem
  .regions__value
    color: $colorSecondary400
    font-size: 1.25rem
    line-height: 2rem
    font-weight: 700
    font-family: $secondaryFont
    white-space: nowrap
    text-transform: uppercase
    position: relative
    &::before
      content: ""
      position: absolute
      top: 50%
      left: -1rem
      width: .375rem
      height: .375rem
      border-radius: 50%
      background-color: $colorSecondary400
      @include mediaMinWidthTabletPort
        left: -1.75rem
  .regions__text
    font-size: 1rem
    line-height: 1.25rem
    @include mediaMinWidthTabletPort
      font-size: 1.125rem
      line-height: 1.5rem




// services__regions
.services__calcalator
  color: $colorWhite
  background-color: $colorSecondary300
  padding: 2.5rem 1.5rem 5rem 1.5rem
  position: relative
  @include mediaMinWidthTabletPort
    padding: 3.25rem 14.5rem 3.25rem 15rem
    border-radius: 0 0 .5rem .5rem
  a
    color: $colorWhite
  .calculator__media
    width: 20rem
    bottom: -3rem
    left: 0
    display: flex
    align-items: flex-start
    position: absolute
    @include mediaMinWidthTabletPort
      left: auto
      bottom: 4rem
      width: 31rem
      right: calc(100% - 7rem)
    img
      width: 100%
      height: 100%
      object-fit: contain
  .calculator__formular
    display: grid
    grid-gap: 1rem
    @include mediaMinWidthTabletPort
      grid-gap: 1.25rem
    .formular__title
      font-size: 1.5rem
      line-height: 2rem
      font-family: $mainFont
      @include mediaMinWidthTabletPort
        font-size: 1.875rem
        line-height: 2.5rem
    .formular__form
      display: grid
      grid-gap: 1rem
      @include mediaMinWidthTabletPort
        grid-template-columns: 17.875rem 17.875rem 12.25rem
        grid-gap: 1.5rem
        align-items: center
    .form__item_secondary
      @include mediaMinWidthTabletPort
        grid-column: span 3










































