// STEPS
.layout__steps
  .steps__list
    margin: 0 -1.25rem
    width: calc(100% + 2.5rem)
    display: grid
    align-items: flex-start
    grid-gap: 2.5rem
    @include mediaMinWidthTabletPort
      margin: 0
      width: 100%
  .steps__item
    display: grid
    align-items: center
    @include background
    @include mediaMinWidthTabletPort
      grid-template-columns: 19.5rem auto
      grid-gap: 17rem
      min-height: 15.5rem
      border-radius: .25rem
    &:nth-child(even)
      @include mediaMinWidthTabletPort
        grid-template-columns: auto 19.5rem 
        .steps__header
          order: 2
          .steps__index
            transform: rotate(90deg)
            margin-left: auto
          .steps__img
            left: 0
        .steps__main
          text-align: right
          &::before
            left: calc(100% - 3rem)
            right: auto
  .steps__header
    height: 100%
    padding: 4rem 1.25rem
    flex-shrink: 0
    color: $colorWhite
    background-color: $colorSecondary500
    display: flex
    align-items: center
    position: relative
    @include mediaMinWidthTabletPort
      padding: 4rem 0
      border-radius: .25rem 0 0 .25rem
    .steps__index
      font-size: 2.5rem
      line-height: 2.5rem
      font-weight: 700
      font-family: $secondaryFont
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      text-transform: uppercase
      @include mediaMinWidthTabletPort
        transform: rotate(-90deg)
        transform-origin: center center
    .steps__img
      width: 14rem
      height: 14rem
      max-width: 100vw
      max-height: 100vh
      position: absolute
      top: 50%
      left: 100%
      object-fit: contain
      z-index: 2
      transform: translate(-85%, -50%)
      @include mediaMinWidthTabletPort
        width: 19.5rem
        height: 19.5rem
        transform: translate(-55%, -50%)
  .steps__main
    width: 100%
    padding: 2rem 1.5rem
    position: relative
    @include mediaMinWidthTabletPort
      padding: 2rem 5rem
    &::before
      @include mediaMinWidthTabletPort
        content: ""
        position: absolute
        right: calc(100% - 3rem)
        top: 2.75rem
        height: .125rem
        width: 20rem
        background-color: $colorSecondary500
    p
      @include mediaMinWidthTabletPort
        display: -webkit-box
        -webkit-line-clamp: 4
        -webkit-box-orient: vertical
        overflow: hidden




















