// SUBSCRIBE
.layout__subscribe
  display: grid
  padding: 3.75rem 0
  grid-gap: 2rem
  @include backgroundBefore
  @include mediaMinWidthTabletPort
    grid-gap: 4.5rem
    padding: 4.75rem 0
    // grid-template-columns: auto 19.5rem 15.25rem
    grid-template-columns: 36.625rem 20rem auto
    align-items: center
  
  .subscribe__header
    text-align: center
    text-transform: uppercase
    @include mediaMinWidthTabletPort
      text-align: left
  .subscribe__main
    p
      opacity: .7