// TESTIMONIALS
.layout__testimonials
  display: flex
  flex-direction: column
  gap: 2rem
  @include mediaMinWidthTabletPort
    gap: 3.5rem
  .testimonials__list
    &:not(.testimonials__list_carousel)
      display: grid
      grid-gap: 2rem
    .slick-list
      @include mediaMinWidthTabletPort
        overflow: visible
    .slick-arrow
      &.slick-prev
        @include mediaMinWidthTabletPort
          left: 0
      &.slick-next
        @include mediaMinWidthTabletPort
          left: 100%
  .testimonials__slide
    opacity: .25
    @include transition
    &.slick-current
      opacity: 1
    .testimonials__item
      @include mediaMinWidthTabletPort
        grid-template-columns: 37.5rem auto
    .testimonials__layout
      @include mediaMinWidthTabletPort
        padding: .75rem 5rem .75rem 3.75rem

  .testimonials__item
    display: grid
    align-items: flex-start
    grid-gap: 2rem
    @include mediaMinWidthTabletPort
      grid-gap: 0
      grid-template-columns: 19rem auto
  .testimonials__media
    position: relative
    overflow: hidden
    border-radius: .25rem
    padding-top: 65%
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

    .testimonials__date
      font-size: 1.125rem
      line-height: 1.25rem
      font-weight: 700
      border-radius: .25rem 0 0 0
      color: $colorWhite
      background-color: $colorSecondary400
      position: absolute
      right: 0
      bottom: 0
      padding: 1rem 2rem
  .testimonials__layout
    display: grid
    grid-gap: 1rem
    @include mediaMinWidthTabletPort
      padding: .75rem 2.5rem
  .testimonials__header
    gap: 1.25rem
    display: flex
    align-items: center
  .testimonials__text
    font-size: 1.125rem
    line-height: 1.5rem
    font-weight: 800
    font-family: $mainFont
    @include mediaMinWidthTabletPort
      font-size: 1.375rem
      line-height: 1.5rem
  .testimonials__rating
    .rating__list
      display: flex
      gap: .25rem
    .rating__item
      width: 1.125rem
      height: 1.125rem
      display: flex
      align-items: flex-start
    .rating__ico
      width: 100%
      height: 100%
  .testimonials__action
    color: $colorSecondary500
    font-size: .875rem
    line-height: 1.25rem
    font-weight: 900
    text-transform: uppercase
    @include transition
    &:hover
      color: $colorSecondary400



























