// WORKS
.layout__works
  .works__list

    @include mediaMinWidthTabletPort
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 3.25rem 1.5rem
    &.works__list_carousel
      margin: 0 -1.5rem
      @include mediaMinWidthTabletPort
        margin: 0
        max-width: calc(100vw - 2.5rem)
      .works__media
        border-radius: 0
        @include mediaMinWidthTabletPort
          border-radius: .75rem
      .works__main
        padding: 0 1.5rem
        @include mediaMinWidthTabletPort
          padding: 0
        .works__title
          font-size: 1.125rem
          line-height: 1.125rem
  .works__link
    color: $colorPrimary500
    display: grid
    grid-gap: 1.5rem
    @include transition
    &:hover
      .works__media
        img
          transform: scale(1.1)
  .works__media
    padding-top: 72%
    border-radius: .75rem
    position: relative
    overflow: hidden
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      transform: scale(1)
      @include transition
    .works__data
      color: $colorWhite
      background-color: $colorSecondary400
      border-radius: .75rem 0 0 0
      padding: .75rem 1.25rem
      font-size: 1.125rem
      line-height: 1.5rem
      font-weight: 700
      position: absolute
      right: 0
      bottom: 0
      @include mediaMinWidthTabletPort
        padding: .875rem 1.5rem

  .works__main
    display: grid
    grid-gap: 1rem
    grid-template-columns: 1rem auto
  .works__ico
    width: 1rem
    height: 1rem
    fill: $colorSecondary400

  .works__banner
    border-radius: .75rem
    @include background
    .banner__link
      padding: 1.5rem
      height: 100%
      color: $colorPrimary500
      display: flex
      flex-direction: column
      &:hover
        .banner__media
          img
            transform: translate(calc(-50% + 1.25rem), calc(-50% + 1.5rem)) scale(1.1)
    .banner__media
      width: 9.75rem
      height: 9.75rem
      border-radius: 50%
      margin: 0 auto
      background-color: $colorTertiary400
      position: relative
      img
        position: absolute
        top: 50%
        left: 50%
        width: 18rem
        max-width: 18rem
        height: 18rem
        max-height: 18rem
        transform: translate(calc(-50% + 1.25rem), calc(-50% + 1.5rem)) scale(1)
        object-fit: contain
        @include transition
        @include mediaMinWidthTabletPort
          width: 25rem
          max-width: 25rem
          height: 25rem
          max-height: 25rem
    .banner__title
      display: flex
      align-items: center
      margin-top: auto
      gap: 1rem

    .banner__ico
      width: 1.5rem
      height: 1.5rem
      transform: translateY(-.125rem)
    .banner__text
      font-size: 1.125rem
      line-height: 1.125rem
      font-weight: 800
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

          

